<h1>ENFERMEDAD CARDÍACA</h1>
<p>Se ha dicho muchas veces que con la vejez el corazón se enfría. Pocas afirmaciones están tan alejadas de la realidad; tanto desde el punto de vista de los afectos, que siguen fluyendo a lo largo de toda nuestra vida, como en lo relativo a los padecimientos del órgano aludido. .</p>
<p>Es, en la vejez, donde las dolencias cardiacas se presentan y expresan con mayor intensidad, condicionando una sustancial pérdida de nuestra calidad de vida..</p>
<p>La enfermedad cardíaca incluye una gran variedad de enfermedades que afectan el corazón. </p>
<p><b>Las enfermedades cardíacas incluyen lo siguiente:</b></p>
<ul>
    <li>Enfermedad de los vasos sanguíneos, como enfermedad de las arterias coronarias.</li>
    <li>Problemas en el ritmo cardíaco (arritmias).</li>
    <li>Defectos cardíacos de nacimiento (defectos cardíacos congénitos).</li>
    <li>Enfermedad de las válvulas cardíacas.</li>
    <li>Enfermedad del músculo cardíaco.</li>
    <li>Infección del corazón.</li>
</ul>
<p>Muchas formas de enfermedad cardíaca pueden prevenirse o tratarse con elecciones de un estilo de vida saludable.</p>
<img src="../../assets/images/enfermedad_cardíaca/1.- Cardiología.png" alt="">
<h2>Síntomas: </h2>
<p>Los síntomas de la enfermedad cardíaca dependen del tipo de enfermedad cardíaca que tengas.</p>
<p><span>Síntomas de la enfermedad cardíaca en los vasos sanguíneos:</span> La acumulación de placas de grasa en las arterias o la ateroesclerosis pueden dañar los vasos sanguíneos y el corazón. La acumulación de placa causa un estrechamiento o bloqueo de los vasos sanguíneos que puede provocar un ataque cardíaco, dolor en el pecho (angina de pecho) o accidente cerebrovascular.</p>
<p>Los síntomas de la enfermedad de las arterias coronarias pueden ser diferentes para los hombres y las mujeres. Por ejemplo, los hombres son más propensos a tener dolor en el pecho. Las mujeres pueden tener otros signos y síntomas junto con el malestar en el pecho, como falta de aire, náuseas y fatiga extrema.</p>
<p>Los signos y síntomas pueden incluir los siguientes:</p>
<ul>
    <li>Dolor en el pecho, opresión del pecho, presión en el pecho y molestia en el pecho (angina de pecho).</li>
    <li>Falta de aire.</li>
    <li>Dolor, entumecimiento, debilidad y sensación de frío en las piernas o los brazos si los vasos sanguíneos en esas partes del cuerpo se estrechan.</li>
    <li>Dolor en el cuello, la mandíbula, la garganta, el área superior del abdomen o la espalda.</li>
</ul>
<p>Es posible que no te diagnostiquen enfermedad de las arterias coronarias hasta que tengas un ataque cardíaco, angina de pecho, accidente cerebrovascular o insuficiencia cardíaca. Es importante que controles los síntomas cardiovasculares y comuniques tus preocupaciones a tu médico. La enfermedad cardiovascular puede detectarse a tiempo con evaluaciones periódicas.</p>
<p><span>Síntomas de enfermedad cardíaca causados por latidos anormales (arritmias cardíacas):</span> Es posible que tu corazón lata demasiado rápido, demasiado lento o de forma irregular. </p>
<p><b>Los signos y síntomas de la arritmia cardíaca pueden incluir los siguientes:</b></p>
<ul>
    <li>Sensación de aleteo en el pecho.</li>
    <li>Latidos cardíacos acelerados (taquicardia).</li>
    <li>Latidos cardíacos lentos (bradicardia).</li>
    <li>Dolor o molestia en el pecho.</li>
    <li>Falta de aire.</li>
    <li>Aturdimiento.</li>
    <li>Mareos.</li>
    <li>Desmayo (síncope) o casi desmayo.</li>
</ul>
<p><span>Síntomas de enfermedad cardíaca causados por los defectos cardíacos: </span>Los defectos cardíacos graves de nacimiento (defectos cardíacos congénitos) a menudo se observan poco después del nacimiento. Los signos y síntomas del defecto cardíaco en niños. </p>
<p><b>Pueden incluir los siguientes:</b></p>
<ul>
    <li>Color de piel gris pálido o azul (cianosis).</li>
    <li>Hinchazón en las piernas, el abdomen o el área alrededor de los ojos.</li>
    <li>En un bebé, la falta de aliento durante el amamantamiento, lo que genera poco aumento de peso.</li>
</ul>
<p>Los defectos cardíacos congénitos menos graves, a menudo, no se diagnostican hasta más adelante en la infancia o durante la adultez. Los signos y síntomas de los defectos cardíacos congénitos que, por lo general, no ponen en riesgo la vida de inmediato.</p>
<p><b> Incluyen los siguientes:</b></p>
<ul>
    <li>Tener dificultad para respirar al poco tiempo durante el ejercicio o la actividad física.</li>
    <li>Cansarse fácilmente durante el ejercicio o la actividad física.</li>
    <li>Hinchazón de las manos, los tobillos o los pies.</li>
</ul>
<p><span>Síntomas de enfermedad cardíaca causados por el músculo del corazón afectado por la enfermedad (miocardiopatía): </span>En las primeras etapas de la miocardiopatía, es posible que no tengas síntomas. A medida que la enfermedad empeora, los síntomas.</p>
<p><b> Pueden incluir lo siguiente:</b></p>
<ul>
    <li>Falta de aliento cuando haces actividad o descansas.</li>
    <li>Falta de aliento cuando haces actividad o descansas.</li>
    <li>Fatiga.</li>
    <li>Latidos irregulares que se sienten rápidos, que palpitan fuertemente o como aleteos.</li>
    <li>Mareos, aturdimiento y desmayos.</li>
</ul>
<p><span>Síntomas de enfermedad cardíaca causados por problemas en la válvula cardíaca (valvulopatía): </span>El corazón tiene cuatro válvulas: la aórtica, la mitral, la pulmonar y la tricúspide, que se abren y se cierran para dirigir el flujo sanguíneo a través del corazón. Muchas cosas pueden dañar las válvulas cardíacas y pueden provocar un estrechamiento (estenosis), un filtrado (regurgitación o insuficiencia) o un cierre inadecuado (prolapso).</p>
<p><b>Según qué válvula no esté funcionando correctamente, los signos y síntomas de la valvulopatía generalmente incluyen los siguientes:</b></p>
<ul>
    <li>Fatiga.</li>
    <li>Falta de aire.</li>
    <li>Ritmo cardíaco irregular.</li>
    <li>Pies o tobillos hinchados.</li>
    <li>Dolor en el pecho.</li>
    <li>Desmayos (síncope). </li>
</ul>
<p><span>Cuándo debes consultar con un médico: </span></p>
<p><b>Busca atención médica de emergencia si tienes los siguientes signos y síntomas de enfermedades cardíacas:</b></p>
<ul>
    <li>Dolor en el pecho.</li>
    <li>Falta de aire.</li>
    <li>Desmayo.</li>
</ul>
<p>Siempre se debe pedir ayuda médica de emergencia si crees que estás teniendo un ataque cardíaco.</p>
<p>Las enfermedades cardíacas son más fáciles de tratar cuando se detectan temprano, por eso, habla con el médico acerca de tus inquietudes relacionadas con la salud de tu corazón. Si te preocupa padecer una enfermedad cardíaca, habla con tu médico sobre los pasos que puedes seguir para reducir el riesgo de enfermedades cardíacas. Esto es especialmente importante si tienes antecedentes familiares de enfermedades cardíacas.</p>
<p>Si crees que puedes tener una enfermedad cardíaca, según los signos o síntomas nuevos que estás teniendo, solicita una cita para ver a tu médico.</p>
<img src="../../assets/images/enfermedad_cardíaca\2.- insuficiencia cardiacaca.jpg" alt="">
<img src="../../assets/images/enfermedad_cardíaca\3.- Partes-sistema-circulatorio.jpg" alt="">
<img src="../../assets/images/enfermedad_cardíaca\4.- Arritmia cardiaca.jpg" alt="">
<h2>Causas: </h2>
<p>Las causas de la enfermedad cardíaca dependen del tipo de enfermedad cardíaca. Hay muchos tipos diferentes de enfermedad cardíaca. Para entender las causas de enfermedad cardíaca, es útil saber cómo funciona el corazón.</p>
<p><span>Cómo funciona el corazón:</span>El corazón es una bomba. Es un órgano muscular del tamaño aproximado de un puño, ubicado levemente a la izquierda del centro del pecho. El corazón se divide en el lado derecho y el lado izquierdo.</p>
<ul>
    <li>El lado derecho del corazón consta de la aurícula derecha y del ventrículo derecho. Este recolecta y bombea la sangre hacia los pulmones a través de las arterias pulmonares.</li>
    <li>Los pulmones le proporcionan a la sangre un nuevo suministro de oxígeno. Los pulmones también exhalan el dióxido de carbono, un desecho del cuerpo</li>
    <li>Luego, la sangre rica en oxígeno entra al lado izquierdo del corazón, que consta de la aurícula izquierda y del ventrículo izquierdo.</li>
    <li>El lado izquierdo del corazón bombea la sangre a través de la arteria más grande del cuerpo (la aorta) para suministrar oxígeno y nutrientes a los tejidos de todo el organismo.</li>
</ul>
<p><span>Válvulas cardíacas: </span>Cuatro válvulas cardíacas hacen que la sangre se dirija en la dirección correcta al abrir una sola vía y solamente cuando lo necesitan. Para que funcionen correctamente, las válvulas deben tener la forma adecuada, deben abrirse completamente y deben cerrarse de manera constrictiva para que no haya fugas. </p>
<p><b>
    Las cuatro válvulas son las siguientes:
    </b></p>
<ul>
    <li>Válvula tricúspide.</li>
    <li>Válvula mitral.</li>
    <li>Válvula pulmonar.</li>
    <li>Válvula aórtica.</li>
</ul>
<p><span>Latidos:</span>Un corazón que late se comprime (se contrae) y se relaja en un ciclo continuo.</p>
<ul>
    <li>Durante la contracción (sístole), tus ventrículos se contraen fuertemente, lo que dirige la sangre de los vasos sanguíneos hacia los pulmones y el resto del cuerpo.</li>
    <li>Durante la relajación (diástole), los ventrículos se llenan de la sangre que viene de las cavidades superiores (aurícula derecha e izquierda).</li>
</ul>
<p><span>Sistema Eléctrico: </span>El circuito eléctrico del corazón lo hace latir. El latido del corazón controla el intercambio continuo de sangre rica en oxígeno y sangre pobre en oxígeno. Este intercambio hace que estés vivo.</p>
<ul>
    <li>Las señales eléctricas comienzan en la parte superior de la cavidad derecha (aurícula derecha) y viajan a través de vías específicas hasta los ventrículos, y llevan la señal para que el corazón bombee.</li>
    <li>El sistema mantiene al corazón latiendo a un ritmo coordinado y normal, lo que mantiene a la sangre fluyendo.</li>
</ul>
<p><span>
    Causas de la enfermedad de las arterias coronarias:
    </span>La acumulación de placas de grasa en las arterias (ateroesclerosis) es la causa más común de enfermedad de las arterias coronarias. Los hábitos de un estilo de vida poco saludable, como una mala alimentación, la falta de ejercicio, el sobrepeso y el tabaquismo, pueden provocar ateroesclerosis.</p>
<p><span>Causas de la arritmia cardíaca: </span></p>
<p><b>Entre las causas comunes de las arritmias o de las enfermedades que generan arritmia se incluyen las siguientes:</b></p>
<ul>
    <li>Enfermedad de las arterias coronarias.</li>
    <li>Diabetes.</li>
    <li>Abuso de drogas ilícitas.</li>
    <li>Consumo excesivo de bebidas alcohólicas o cafeína.</li>
    <li>Defectos cardíacos de nacimiento (defectos cardíacos congénitos).</li>
    <li>Presión arterial alta.</li>
    <li>Fumar.</li>
    <li>Algunos medicamentos de venta libre, medicamentos de venta bajo receta médica, suplementos alimentarios y remedios a base de hierbas.</li>
    <li>Estrés.</li>
    <li>Enfermedad valvular cardíaca.</li>
</ul>
<p>En una persona sana con un corazón normal y sano, es poco probable que se desarrolle una arritmia mortal sin algún desencadenante externo, como un choque eléctrico o el consumo de drogas ilícitas. Sin embargo, en un corazón afectado por la enfermedad o con malformaciones, es posible que las señales eléctricas del corazón no comiencen o se transporten de manera adecuada a través del corazón, y esto provoca que sea más probable que se manifiesten arritmias.</p>
<p><span>Causas de los defectos cardíacos congénitos:</span>Los defectos cardíacos congénitos generalmente se desarrollan mientras el bebé está en el útero. Los defectos cardíacos se pueden desarrollar a medida que se forma el corazón, aproximadamente un mes después de la concepción, y cambian el flujo sanguíneo en el corazón. Algunas enfermedades, algunos medicamentos y algunos genes pueden tener un papel decisivo en la aparición de los defectos cardíacos.</p>
<p>Los defectos cardíacos también pueden presentarse en los adultos. A medida que envejeces, la estructura del corazón puede cambiar, y provocar un defecto cardíaco.</p>
<p><span>Causas de la cardiomiopatía: </span></p>
<p><b>La causa de la miocardiopatía, que es un engrosamiento o agrandamiento del músculo del corazón, puede depender del tipo:</b></p>
<p><span>Miocardiopatía dilatada:</span>La causa de este tipo de miocardiopatía más común a menudo se desconoce. Por lo general, la afección hace que el ventrículo izquierdo se ensanche. La miocardiopatía dilatada puede tener como causa el flujo sanguíneo reducido al corazón (enfermedad cardíaca isquémica), que es el resultado del daño producido por un ataque cardíaco, infecciones, toxinas y ciertos medicamentos, incluidos los usados para tratar el cáncer. También puede ser heredada de uno de los padres.</p>
<p><span>Miocardiopatía hipertrófica:</span>Por lo general, este tipo es hereditario. También se puede desarrollar con el tiempo a causa de la presión arterial alta o por la edad.</p>
<p><span>Miocardiopatía restrictiva:  </span> Este tipo menos común de miocardiopatía, que hace que el músculo del corazón se vuelva rígido y menos elástico, puede suceder sin motivo aparente. O puede deberse a enfermedades, como trastornos del tejido conectivo o la acumulación de proteínas anormales (amiloidosis).</p>
<p><span>Causas de la afección del corazón: </span>Una infección del corazón, como la endocarditis, se produce cuando los gérmenes llegan hasta el músculo cardíaco. </p>
<p><b>Las causas más comunes de las infecciones del corazón son:</b></p>
<ul>
    <li>Bacterias.</li>
    <li>Virus.</li>
    <li>Parásitos.</li>
</ul>
<p><span>Causas de la enfermedad de las válvulas del corazón:</span>Muchos factores pueden causar enfermedades de las válvulas cardíacas. La enfermedad de las válvulas puede existir desde el nacimiento o el daño en ellas puede estar causado por afecciones como las siguientes:</p>
<ul>
    <li>Fiebre reumática.</li>
    <li>Infecciones (endocarditis infecciosa).</li>
    <li>Trastornos del tejido conectivo.</li>
</ul>
<img src="../../assets/images/enfermedad_cardíaca\5.- Enfermedad cardíaca.jpg" alt="">
<img src="../../assets/images/enfermedad_cardíaca\6.- valvulopatias.jpg" alt="">
<img src="../../assets/images/enfermedad_cardíaca\7.- Corazon-anatomia-humana.jpg" alt="">
<h2>Factores de riesgo: </h2>
<p><b>Entre los factores de riesgo de desarrollar una enfermedad cardíaca se incluyen los siguientes:</b></p>
<p><span>Edad:</span>El envejecimiento aumenta el riesgo de que las arterias se dañen y se estrechen, y de que el músculo cardíaco se debilite o engrose.</p>
<p><span>Sexo:</span>En general, los hombres corren mayor riesgo de padecer una enfermedad cardíaca. El riesgo en las mujeres aumenta después de la menopausia.</p>
<p><span>Antecedentes familiares:</span>Los antecedentes familiares de enfermedades cardíacas aumentan tu riesgo de padecer enfermedad de las arterias coronarias, especialmente si uno de tus padres la desarrolló a temprana edad (antes de los 55 años en caso de un familiar hombre, como tu hermano o tu padre, y antes de los 65 años en caso de una familiar mujer, como tu madre o hermana).</p>
<p><span>Tabaquismo:</span>La nicotina contrae los vasos sanguíneos y el monóxido de carbono puede dañar su revestimiento interno, lo que los vuelve más propensos a la ateroesclerosis. Los ataques cardíacos son más comunes en fumadores que en no fumadores.</p>
<p><span>Mala alimentación:</span>Una dieta con alto contenido de grasas, sal, azúcar y colesterol puede contribuir al desarrollo de una enfermedad cardíaca.</p>
<p><span>Presión arterial alta:</span>La presión arterial alta no controlada puede producir el endurecimiento y engrosamiento de las arterias, lo que estrecha los vasos por los que circula la sangre.</p>
<p><span>Niveles altos de colesterol en la sangre: </span>Los niveles altos de colesterol en la sangre pueden aumentar el riesgo de que se formen placas y de padecer ateroesclerosis.</p>
<p><span>Diabetes:</span> La diabetes aumenta el riesgo de sufrir enfermedades cardíacas. Ambas afecciones comparten factores de riesgo similares, como la obesidad y la presión arterial alta.</p>
<p><span>Obesidad:</span>El exceso de peso normalmente empeora otros factores de riesgo de enfermedades cardíacas.</p>
<p><span>Inactividad física:</span>La falta de ejercicio también está relacionada con muchas formas de enfermedad cardíaca y con algunos de sus otros factores de riesgo.</p>
<p><span>Estrés: </span>El estrés no tratado puede dañar las arterias y empeorar otros factores de riesgo de enfermedades cardíacas.</p>
<p><span>Mala higiene dental:</span>Es importante cepillarse los dientes y las encías, y usar hilo dental, con frecuencia, y hacerse chequeos dentales periódicos. Si los dientes y las encías no están sanos, los gérmenes pueden entrar al torrente sanguíneo y llegar al corazón, lo que produce endocarditis.</p>
<img src="../../assets/images/enfermedad_cardíaca\8.- Enfermedad Cardíaca.png" alt="">
<img src="../../assets/images/enfermedad_cardíaca\9.- colesterol.jpg" alt="">
<h2>Complicaciones:</h2>
<p><b>Las complicaciones de las enfermedades cardíacas incluyen las siguientes:</b></p>
<p><span>Insuficiencia cardíaca:</span>La insuficiencia cardíaca, una de las complicaciones más comunes de las enfermedades cardíacas, se produce cuando el corazón no puede bombear sangre suficiente para cubrir las necesidades del cuerpo. La insuficiencia cardíaca puede deberse a muchas formas de enfermedades cardíacas, entre ellas defectos cardíacos, enfermedad cardiovascular, valvulopatía, infecciones cardíacas o miocardiopatía.</p>
<p><span>Ataque cardíaco: </span>Un coágulo de sangre que bloquea el flujo sanguíneo a través de un vaso sanguíneo que irriga al corazón provoca un ataque cardíaco, lo que posiblemente daña o destruye una parte del músculo cardíaco. La ateroesclerosis puede provocar un ataque cardíaco.</p>
<p><span>Accidente cerebrovascular:</span>Los factores de riesgo que provocan la enfermedad cardiovascular también pueden provocar un accidente cerebrovascular isquémico que ocurre cuando las arterias que van al cerebro están estrechas u obstruidas, por lo que es muy poca la sangre que llega al cerebro. Un accidente cerebrovascular es una emergencia médica; el tejido cerebral comienza a morir a los pocos minutos de un accidente cerebrovascular.</p>
<p><span>Aneurisma:</span>Un aneurisma (complicación grave que puede ocurrir en cualquier parte del cuerpo) es una protuberancia en la pared de la arteria. Si se rompe un aneurisma, es posible que haya sangrado interno que ponga en riesgo la vida.</p>
<p><span>Enfermedad arterial periférica: </span>Cuando padeces enfermedad arterial periférica, las extremidades (generalmente las piernas) no reciben suficiente flujo sanguíneo. Esto provoca síntomas, especialmente dolor en las piernas al caminar (claudicación). La ateroesclerosis también puede provocar enfermedad arterial periférica.</p>
<p><span>Paro cardiaco repentino: </span>El paro cardíaco repentino es la pérdida súbita e inesperada de la función cardíaca, la respiración y la conciencia, a menudo a causa de una arritmia. Un paro cardíaco repentino es una emergencia médica. Si no se trata de inmediato, provoca la muerte cardíaca súbita.</p>
<img src="../../assets/images/enfermedad_cardíaca\10.- Aneurisma.gif" alt="">
<img src="../../assets/images/enfermedad_cardíaca\11.- Enfermedad arterial Periferica.jpg" alt="">
<h2>Prevención:</h2>
<p>Ciertos tipos de enfermedades cardíacas, como los defectos cardíacos, no se pueden prevenir. Sin embargo, los mismos cambios en el estilo de vida que pueden mejorar la enfermedad cardíaca pueden ayudarte a prevenirla, como los siguientes:</p>
<ul>
    <li>No fumes.</li>
    <li>Controla otras afecciones, como la presión arterial alta, el colesterol alto y la diabetes.</li>
    <li>Haz ejercicio por lo menos durante 30 minutos diarios casi todos los días de la semana.</li>
    <li>Sigue una dieta baja en sal y grasas saturadas.</li>
    <li>Mantén un peso saludable.</li>
    <li>Reduce y controla el estrés.</li>
    <li>Ten buenos hábitos de higiene.</li>
</ul>
<img src="../../assets/images/enfermedad_cardíaca\12.-  Ejercicio.jpeg" alt="">
<img src="../../assets/images/enfermedad_cardíaca\13.- Peso.jpg" alt="">
<h2>Diagnóstico: </h2>
<p>Tu médico te realizará un examen físico y te preguntará acerca de tus antecedentes médicos y familiares. Las pruebas que se necesitarán para diagnosticarte una enfermedad cardíaca dependen de lo que piense el médico acerca de qué afección tienes. Además de los análisis de sangre y una radiografía de tórax.</p>
<p><b>Las pruebas para diagnosticar una enfermedad cardíaca pueden comprender:
</b></p>
<p><span>Electrocardiograma (ECG):</span>Un ECG es una prueba rápida e indolora que registra las señales eléctricas del corazón. Puede detectar ritmos cardíacos anormales. Es posible que te hagan un ECG en reposo o mientras haces ejercicio (electrocardiograma de esfuerzo).</p>
<p><span>Monitoreo Holter:</span>Un monitor Holter es un dispositivo portátil de electrocardiograma que deberás usar para registrar tu ritmo cardíaco de manera continua, por lo general de 24 a 72 horas. El monitoreo Holter se utiliza para detectar problemas en el ritmo cardíaco que no se encuentran durante un electrocardiograma normal.</p>
<p><span>Ecocardiograma: </span>Este examen no invasivo usa ondas de sonido para producir imágenes detalladas de la estructura del corazón. Muestra cómo late tu corazón y cómo bombea sangre.</p>
<p><span><b>Prueba de esfuerzo:</b></span>Este tipo de prueba implica elevar tu frecuencia cardíaca con ejercicio o medicamentos mientras se realizan pruebas del corazón y pruebas por imágenes para comprobar la respuesta de tu corazón.</p>
<p><span>Cateterismo cardíaco: </span>En esta prueba, se inserta un tubo corto (vaina) en una vena o arteria en la pierna (ingle) o en el brazo. Luego, se inserta un tubo más largo, hueco y flexible (guía del catéter) en la vaina. Con la ayuda de imágenes radiográficas en un monitor como guía, tu médico pasa delicadamente el catéter a través de la arteria hasta que llega a tu corazón.</p>
<p>Durante el cateterismo cardíaco, pueden medirse las presiones en las cavidades cardíacas y se puede inyectar un tinte. El tinte puede verse en una radiografía, lo que ayuda al médico a ver el flujo sanguíneo a través del corazón, los vasos sanguíneos y las válvulas para detectar problemas.</p>
<p><span>Exploración por tomografía computarizada (TAC) cardíaca:</span>En una TAC cardíaca, te recuestas en una camilla dentro de una máquina con forma circular. Dentro de la máquina, un tubo de rayos X gira alrededor de tu cuerpo y obtiene imágenes del corazón y del pecho.</p>
<p><span>Imágenes por resonancia magnética (IRM) cardíaca: </span>Una IRM cardíaca utiliza campos magnéticos y ondas de radio generadas por computadora para crear imágenes detalladas del corazón.</p>
<img src="../../assets/images/enfermedad_cardíaca\14.- Cateterismo cardiaco.jpg" alt="">
<img src="../../assets/images/enfermedad_cardíaca\15.- Monitoreo holter.jpg" alt="">
<h2>Tratamiento: </h2>
<p>El tipo de tratamiento que recibes depende del tipo de enfermedad cardíaca que tengas. En general, el tratamiento para las enfermedades cardíacas a menudo comprende:</p>
<p><span>Cambios en el estilo de vida:</span>Puedes reducir el riesgo de enfermedad cardíaca con una dieta con bajo contenido de grasa y bajo contenido de sodio, hacer por lo menos 30 minutos de ejercicio moderado la mayoría de los días de la semana, dejar de fumar y limitar el consumo de alcohol.</p>
<p><span>Medicamentos: </span>Si los cambios en el estilo de vida no son suficientes, es posible que el médico te recete medicamentos para controlar la enfermedad cardíaca. El tipo de medicamentos que tomes dependerá del tipo de enfermedad cardíaca.</p>
<p><span>Procedimientos médicos o cirugía: </span>Si los medicamentos no son suficientes, es posible que el médico te recomiende procedimientos específicos o una cirugía. El tipo de procedimiento o la cirugía dependerá del tipo de enfermedad cardíaca y del grado de daño al corazón.</p>
<img src="../../assets/images/enfermedad_cardíaca\16.- Operación del corazón.jpg" alt="">
<h2>Para tratar estas enfermedades se recomienda:</h2>
<p>Las enfermedades cardíacas pueden mejorarse (o incluso prevenirse) al hacer algunos cambios en tu estilo de vida. </p>
<p><b>Los siguientes cambios pueden ayudar a cualquier persona que quiera mejorar la salud del corazón:</b></p>
<p><span>Dejar de fumar:</span>Fumar es un factor de riesgo importante en el caso de las enfermedades cardíacas, especialmente en el caso de la ateroesclerosis. Dejar de hacerlo es la mejor forma de reducir el riesgo de padecer una enfermedad cardíaca y de sufrir sus complicaciones.</p>
<p><span>Controlar la presión arterial: </span>Pídele a tu médico que te mida la presión arterial, al menos, una vez cada dos años. Es posible que el médico recomiende que te realices mediciones con más frecuencia si la presión arterial es más alta de lo normal o si tienes antecedentes de enfermedades cardíacas. La presión arterial ideal generalmente es menor a 120 sistólica y 80 diastólica, medida en milímetros de mercurio (mm Hg).</p>
<p><span>Controlar el colesterol: </span>Pídele a tu médico que te haga un análisis de colesterol de referencia cuando cuando tengas entre 20 y 30 años, y luego al menos una vez cada cinco años. Es posible que tengas que empezar a hacerte análisis antes de esa edad si tienes familiares con colesterol alto. Si los resultados del análisis no se encuentran dentro de los niveles aconsejables, el médico podría recomendarte que te realices mediciones con más frecuencia.</p>
<p>La mayoría de las personas debería intentar alcanzar un nivel de lipoproteína de baja densidad (LDL) por debajo de los 130 miligramos por decilitro (mg/dL) o de 3,4 milimoles por litro (mmol/L). Si tienes otros factores de riesgo de enfermedad cardíaca, deberías intentar alcanzar un nivel de LDL por debajo de los 100 mg/dL (2,6 mmol/L). Si tienes un riesgo muy alto de sufrir una enfermedad cardíaca (por ejemplo, si ya has tenido un ataque cardíaco o si tienes diabetes), intenta alcanzar un nivel de LDL por debajo de 70 mg/dL (1,8 mmol/L).</p>
<p><span>Mantener la diabetes bajo control: </span>Si tienes diabetes, el control estricto del nivel de glucosa en la sangre te puede ayudar a reducir el riesgo de enfermedades cardíacas.</p>
<p><span>Hacer ejercicio: </span>La actividad física te ayuda a alcanzar y mantener un peso saludable, y a controlar la diabetes, el colesterol alto y la presión arterial alta, todos ellos factores de riesgo de enfermedades cardíacas. Si tienes arritmia cardíaca o un defecto cardíaco, puede haber algunas restricciones en las actividades que puedes practicar; por lo tanto, habla con tu médico. Si tu médico lo aprueba, intenta realizar de 30 a 60 minutos de actividad física casi todos los días de la semana.</p>
<p><span>Comer alimentos saludables: </span>Una dieta saludable para el corazón, basada en frutas, verduras y cereales integrales (y baja en grasas saturadas, colesterol, sodio y azúcar agregada), puede ayudarte a controlar el peso, la presión arterial y el colesterol.</p>
<p><span>Mantener un peso saludable:</span> El sobrepeso aumenta el riesgo de sufrir enfermedades cardíacas. Un índice de masa corporal (IMC) de menos de 25 y una circunferencia de la cintura de 35 pulgadas (88,9 cm) o menos es la meta para prevenir y tratar las enfermedades cardíacas.</p>
<p><span>Controlar el estrés:</span>Reduce el estrés lo más que puedas. Practica técnicas de control del estrés, como la relajación muscular y la respiración profunda.</p>
<p><span>Obtener tratamiento para la depresión:</span> Estar deprimido puede aumentar significativamente el riesgo de sufrir enfermedades cardíacas. Habla con tu médico si te sientes desesperanzado o si has perdido el interés en la vida.</p>
<p><span>Tener buenos hábitos de higiene:</span>Lávate las manos con regularidad, cepíllate los dientes y usa hilo dental para mantenerte saludable.</p>
<p>Además, hazte chequeos médicos en forma regular. La detección y el tratamiento oportunos pueden sentar las bases para una vida con mejor salud cardiovascular.</p>
<img src="../../assets/images/enfermedad_cardíaca\17.- enfermedades-cardiacas.jpg" alt="">


<p style="margin-top: 15px"style="color: red">
    <b style="font-size: 20px; text-align: center">CONDICIONES DE USO DEL SERVICIO</b></p>

    <p style="font-size: 20px"><b>
        La información facilitada por este medio no puede, en modo alguno, sustituir a un servicio de atención médica directa, así como tampoco debe utilizarse con el fin de establecer un diagnóstico, o elegir un tratamiento en casos particulares.
        
        En este servicio no se hará ninguna recomendación, explícita o implícita, sobre fármacos, técnicas, productos, etc.  que se citarán únicamente con finalidad informativa.
        
        La utilización de este servicio se lleva a cabo bajo la exclusiva responsabilidad de los usuarios.
    </b>
    </p>
