
<h1>DIABETES MELLITUS</h1>
<div>
    <p>
        La DIABETES. Es una enfermedad crónica que aparece cuando el páncreas no produce insulina suficiente o cuando el organismo no utiliza eficazmente la insulina que produce. La insulina es una hormona producida en el páncreas que regula el azúcar en la sangre. El efecto de la diabetes no controlada es la hiperglucemia (aumento del azúcar en la sangre), que con el tiempo daña gravemente muchos órganos y sistemas, especialmente los nervios y los vasos sanguíneos.
    </p>
    <p>
        La DIABETES TIPO 2 ó MELLITUS. es una discapacidad en la forma en que el cuerpo regula y usa el nivel de azúcar (glucosa) como combustible. Esta afección a largo plazo (crónica) aumenta la circulación de azúcar en el torrente sanguíneo. Eventualmente, los niveles elevados de glucosa en la sangre pueden provocar trastornos de los sistemas circulatorio, nervioso e inmunitario.
    </p>
    <p>
        En la diabetes tipo 2, hay principalmente dos problemas interrelacionados en el trabajo. Tu páncreas no produce suficiente insulina, una hormona que regula el movimiento del azúcar en tus células, y las células no responden de manera adecuada a la insulina y consumen menos azúcar.
    </p>
    <p>
        La diabetes tipo 2 solía conocerse como la diabetes de aparición adulta, pero la diabetes tipo 1 y tipo 2 pueden aparecer tanto en la infancia como en la adultez. El tipo 2 es más común en adultos mayores, pero el aumento en la cantidad de niños con obesidad ha dado lugar a la aparición de más casos de diabetes tipo 2 en personas más jóvenes.
    </p>
    <p>
        No hay cura para la diabetes tipo 2, pero perder peso, comer bien y hacer ejercicio pueden ayudarte a controlar la enfermedad. Si la dieta y el ejercicio no son suficientes para controlar la glucosa en la sangre, tal vez necesites medicamentos para la diabetes o tratamiento con insulina.
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\1.- Diabetes.jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\2.- Diabetes.jpg" alt="">
</div>
<div>
    <h2>
        Síntomas de la diabetes de Mellitus:
    </h2>
    <p>
        Con frecuencia, los signos y síntomas de la diabetes tipo 2 se desarrollan lentamente. De hecho, puedes tener diabetes tipo 2 durante años, sin saberlo. Cuando se presentan los signos y síntomas, estos pueden comprender los siguientes:
    </p>
    <ul class="lista_3 viñeta">
        <li>Aumento de la sed.</li>
        <li>Micción frecuente.</li>
        <li>Aumento del hambre.</li>
        <li>Pérdida de peso involuntaria.</li>
        <li>Fatiga.</li>
        <li>Visión borrosa.</li>
        <li>Llagas que tardan en sanar.</li>
        <li>Infecciones frecuentes.</li>
        <li>Entumecimiento u hormigueo en las manos o los pies.</li>
        <li>Zonas de piel oscurecida, por lo general en axilas y cuello.</li>
    </ul>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\3.- Diabetes..jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\4.- Diabetes.jpg" alt="">
</div>
<div>
    <h2>
        ¿Como se diagnostica la Diabetes Tipo 2?
    </h2>
    <p>
        El diagnóstico de la diabetes se hace mediante una analítica de sangre para conocer cuáles son los valores de azúcar (glucosa) en la sangre. Los valores normales de glucosa en la sangre oscilan entre 70 y 100 mg/dL.
    </p>
    <p>
        Si el resultado de la analítica se corresponde a una de las siguientes situaciones, indica que la persona tiene diabetes:
    </p>
    <ul class="lista_3 viñeta">
        <li>En ayunas, igual o superiores a 126 mg/dL en dos determinaciones.</li>
        <li>A cualquier hora del día, valores iguales o superiores a 200 mg/dL acompañados de síntomas característicos, como son tener con frecuencia ganas de orinar y mucha sed.</li>
        <li>Después de la ingesta de un preparado de glucosa (75gr), superiores a 200 mg/dL. Esta prueba se realiza a las personas que en ayunas tienen valores de glucosa entre 100 y 126mg/dL.</li>
        <li>Hemoglobina glicosilada (HbA1c) igual o superior a 6,5%.</li>
    </ul>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\5.- Diabetes.png" alt="">
</div>
<div>
    <h2>
        La Diabetes en los adultos mayores afectan de la siguiente manera:
    </h2>
    <p>
        Aunque los síntomas son más o menos leves, los efectos pueden ser devastadores. Con el tiempo, la diabetes puede dañar el corazón, los vasos sanguíneos, los ojos, los riñones y los nervios.
    </p>
    <ul class="lista_3 viñeta">
        <li>Los mayores con diabetes tienen un mayor riesgo a padecer un infarto de miocardio y accidentes cerebrovasculares. </li>
        <li>Tienen un mayor riesgo a tener úlceras en los pies, infección y, en último caso, amputación.</li>
        <li>La diabetes también puede ser una causa importante de ceguera, debido al daño de los vasos capilares de la retina acumulado a lo largo del tiempo.
        </li>
        <li>En los hombres puede aparecer disfunción eréctil.</li>
        <li>La diabetes también puede producir insuficiencia renal. </li>
        <li>Con la diabetes tipo 2 se pueden desarrollar problemas auditivos.</li>
        <li>La diabetes de tipo 2 parece aumentar el riesgo de padecer Alzheimer, aunque no se sabe el motivo..</li>
        <li>La apnea del sueño es muy común en personas con diabetes tipo 2 y con obesidad</li>
    </ul>
</div>
<div class="centrar_imagen">
        <img src="../../assets\images\diabetes mellitus\6.- piediabetico1.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets\images\diabetes mellitus\7.- Diabetes falta de audici+on.jpg" alt="">
    </div>
<div>
    <h2>
        El tratamiento puede variar en función de la fase en la que se haya diagnosticado la enfermedad y su evolución.
    </h2>
    <ul class="lista_3 viñeta">
        <li>Seguir un plan de alimentación sano para controlar el peso corporal junto con la realización de actividad física regular (más de 150minutos/semana) y fármacos orales (Metformina).</li>
        <li>Si con el primer tratamiento no es suficiente, se añadirán nuevos fármacos orales o inyectables.</li>
        <li>Si con el segundo tratamiento no es suficiente, quizás habrá que añadir insulina al tratamiento.</li>
    </ul>
    <h4>
        Tratamiento farmacológico:
    </h4>
    <h3>
        Fármacos orales:
    </h3>
    <p>
        Los antidiabéticos orales son pastillas que tienen la función de ayudar a regular el nivel de azúcar en la sangre. Se dan desde el inicio del tratamiento de la diabetes tipo 2. Hay varios tipos y de diferentes modos de acción, por lo que es necesario conocer los efectos y tomarlos a las horas indicadas.
    </p>
    <p>
        El equipo de salud indicará cuándo los tiene que tomar, si antes o después de las comidas, y si tienen riesgo o no de producir bajadas de azúcar.
    </p>
    <p>
        <span class="frase">Sulfonilureas:  </span>estimulan la secreción de insulina por parte del páncreas.
    </p>
    <p>
        <span class="frase">Meglitinidas: </span> estimulan la secreción de insulina por parte del páncreas.
    </p>
    <p>
        <span class="frase">Biguanidas: </span> disminuyen la producción de glucosa por parte del hígado.
    </p>
    <p>
        <span class="frase">Inhibidores de la alfaglucosidasa:</span>retrasan y disminuyen la absorción de los hidratos de carbono.
    </p>
    <p>
        <span class="frase">Tiazolidindiones: </span>disminuyen la resistencia a la insulina.
    </p>
    <p>
        <span class="frase">
            Inhibidores SGLT2: </span>reducen la reabsorción de glucosa a escala renal.
    </p>
    <p>
        <span class="frase">Inhibidores DPP-4:</span>inhiben una enzima que inactiva las incretinas y provocan un aumento de la secreción de insulina e inhiben la secreción de glucagón.
    </p>
    <p>
        El fármaco de elección en todos los pacientes con diabetes tipos 2 es la metformina (Biguanida) excepto si existe contraindicación o la persona tiene síntomas claros, que indiquen que el cuerpo necesita insulina. El mecanismo de actuación de la metformina es inhibir la producción natural de glucosa por parte del hígado.
    </p>
    <h3>
        Fármacos inyectables:
    </h3>
    <p>
        <span class="frase">Análogos GLP-1: </span>Son fármacos que se administran vía subcutánea. Aumentan la secreción de insulina, inhiben la secreción de glucagón, retardan el vaciado gástrico y reducen el hambre favoreciendo la pérdida de peso.
    </p>
    <p>
        Con el paso de los años, una gran mayoría de personas con diabetes tipos 2 acaba necesitando insulina.
    </p>
    <h4>
        Alimentación:
    </h4>
    <p>
        En general, todas las personas, con diabetes o sin ella, deben seguir un plan de alimentación sano, equilibrado y variado. El plan de alimentación se ha de personalizar según la edad, actividad física, los horarios, el peso corporal y las preferencias de cada persona.
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\8.- Diabetes.jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\9.- medicamentos-diabetes.jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\10.- Diabetes.jpg" alt="">
</div>
<div>
    <h2>
        Medidas y Cuidados:
    </h2>
    <ul class="lista_3 viñeta">
        <li>Mantener la glucosa a niveles controlados, midiendo diariamente o varias veces por semana los niveles de glucosa en sangre con un glucómetro.</li>
        <li>Mantener una alimentación saludable y un buen control del peso. Es importante saber qué cantidades de grasa, proteína y carbohidratos son los adecuados para su dieta. Lo ideal es incluir los alimentos que más le gusten al mayor pero que se adapten a la dieta a realizar.</li>
        <li>Incluir actividad física regular. El ejercicio baja los niveles de azúcar en sangre y ayudan a bajar de peso, además de mejorar la circulación y presión arterial. También ayuda a tener un buen nivel de energía y a gestionar mejor el estrés.</li>
        <li>Hay personas con diabetes que tienen problemas en los pies. En estos casos, tratar cualquier problema como infecciones o dolores al momento, aplicar lociones humectantes y escoger el calzado correcto.</li>
        <li>Cuidar la salud emocional y el estrés con actividades que ayuden a la persona a relajarse como por ejemplo la meditación, el yoga, el taichí, escuchar música relajante, leer, hacer respiraciones profundas, etc.</li>
    </ul>
    <p>
        Por último. queremos recalcar que la diabetes tipo 2 en muchos casos se puede prevenir o al menos retrasar y esta prevención es tan sencilla como procurar tener un estilo de vida saludable que incluya una buena alimentación, ejercicio físico para evitar el sedentarismo, un peso adecuado y un buen estado emocional.
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\11.- Alimentacion-en-diabetes-mellitus.png" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\diabetes mellitus\12.- Ejercicios  Diabetes.jpeg" alt="">
</div>
