
    <h1>INCONTINENCIA URINARIA</h1>
    <p>La incontinencia urinaria es la pérdida del control de la vejiga o la incapacidad de controlar la micción (orinar). Es una afección común. Puede variar desde un problema menor hasta algo que afecta en gran medida su vida diaria. En cualquier caso, puede mejorar con un tratamiento adecuado.</p>
    <p>La incontinencia urinaria, está considerada uno de los grandes síndromes geriátricos. Sin embargo, sólo 1/3 de los pacientes mayores de 65 años con incontinencia, consultan con algún médico este problema. ¿Por qué?, pues por sentir verguenza por reconocer el problema, creer que no tiene tratamiento, pensar que es algo "normal e inevitable" asociado a la edad, o, en el caso de las mujeres, considerar que es inherente a los partos.</p>
    <p>La incontinencia puede ser repentina y temporal, como cuando se está tomando un medicamento que tiene un efecto diurético, o puede ser de larga duración (crónica). Incluso la incontinencia crónica a veces tiene tratamiento.</p>
    <div class="centrar_imagen">
        <img src="https://drive.google.com/uc?export=download&id=18CJsfBhyYEK7TeuHY3__m-QkiWUYHpT5" alt="">
    </div>
    <p><b>La incontinencia urinaria presenta un importante impacto en la calidad de vida del paciente mayor a todos los niveles:</b></p>
    <p><span>A nivel físico:</span>ya que es responsable de un mayor número de caídas (al correr o levantarse a orinar por la noche), de infecciones urinarias, e incluso de lesiones cutáneas (úlceras...), además de ocasionar una restricción en las actividades físicas.</p>
    <p><span>A nivel psicológico:</span>ocasiona pérdida de autoestima, ansiedad, depresión, estrés. Etc.</p>
    <p><span>A nivel social:</span>ya que favorece el aislamiento de las personas y limita sus relaciones sociales.</p>
    <h2>Síntomas:  </h2>
    <p>Muchas personas experimentan pérdidas de orina menores y ocasionales. Otros pueden perder cantidades pequeñas o moderadas de orina con mayor frecuencia.</p>
    <p>A veces, el paciente no puede orinar en absoluto. En tales casos, la vejiga se distiende progresivamente en unas horas a medida que se llena de orina causando hinchazón en la parte inferior del abdomen y un dolor muy intenso.</p>
    <p>Por lo general, el paciente puede eliminar parte de la orina, pero no puede vaciar por completo su vejiga. En tales casos, la vejiga se expande lentamente sin causar dolor. Sin embargo, el paciente puede tener dificultad para iniciar la micción, un chorro de orina débil, o una sensación de que la vejiga no se ha vaciado por completo. Debido a que la vejiga se mantiene relativamente llena, puede presentar fugas de orina (incontinencia por rebosamiento), necesidad de orinar por la noche (nicturia) o micciones frecuentes. Debido a que la orina retenida puede ser un caldo de cultivo para las bacterias, se pueden producir infecciones del tracto urinario.</p>

        <img src="https://drive.google.com/uc?export=download&id=12-csJDDpFiaJjcNa6DaK77APAmzhdJSb" alt="">

    <h2></h2>
    <p><span>Incontinencia de esfuerzo: </span>La orina se escapa cuando ejerces presión sobre la vejiga al toser, estornudar, reír, hacer ejercicio o levantar algo pesado.</p>
    <p><span>Incontinencia urinaria por urgencia:</span>Tienes una necesidad repentina e intensa de orinar, seguida de una pérdida involuntaria de orina. Es posible que tengas que orinar con frecuencia, incluso durante toda la noche. La incontinencia urinaria por urgencia puede deberse a una afección menor, como una infección, o a un trastorno más grave, como un trastorno neurológico o diabetes.</p>
    <p><span>Incontinencia por rebosamiento:</span>Experimentas goteo de orina frecuente o constante debido a que la vejiga no se vacía por completo.</p>
    <p><span>Incontinencia funcional:</span>Una discapacidad física o mental te impide llegar al baño a tiempo. Por ejemplo, si tienes artritis grave, es posible que no puedas desabotonarte el pantalón lo suficientemente rápido.</p>
    <p><span>Incontinencia urinaria mixta:</span>Experimentas más de un tipo de incontinencia urinaria; la mayoría de las veces, esto se refiere a la combinación de incontinencia de esfuerzo e incontinencia urinaria por urgencia.</p>

        <img src="https://drive.google.com/uc?export=download&id=1R6jOY2T0PawswGD7ChW1BSUHgJGAD_ZL" alt="">

        <img src="https://drive.google.com/uc?export=download&id=1RaouEVzD6z55YgTH1BThDpLpRDxosViO" alt="">

    <h2>Causas: </h2>
    <p>La incontinencia urinaria puede ser causada por determinados hábitos diarios, enfermedades subyacentes o problemas físicos. Una evaluación exhaustiva a cargo del médico puede ayudar a determinar lo que produce la incontinencia.</p>
    <h3>Incontinencia urinaria transitoria: </h3>
    <p><b>Ciertas bebidas, alimentos y medicamentos pueden actuar como diuréticos, es decir, estimulan la vejiga e incrementan el volumen de orina. Estas opciones incluyen:</b></p>
    <ul>
        <li>Alcohol.</li>
        <li>Cafeína.</li>
        <li>Bebidas carbonatadas o agua gasificada.</li>
        <li>Edulcorantes.</li>
        <li>Chocolate.</li>
        <li>Ajíes picantes.</li>
        <li>Alimentos con alto contenido de especias, azúcar o ácido, especialmente los cítricos.</li>
        <li>Medicamentos para la presión arterial y el corazón, sedantes y relajantes musculares.</li>
        <li>Altas dosis de vitamina C.</li>
    </ul>
    <p><b>Una afección médica fácilmente tratable puede causar la incontinencia urinaria, por ejemplo:</b></p>
    <p><span>Infección de las vías urinarias:</span>Las infecciones pueden irritar la vejiga, producirte fuerte necesidad de orinar y, en ocasiones, incontinencia.</p>
    <p><span>Estreñimiento:</span>El recto está ubicado cerca de la vejiga y comparte muchos nervios. Las heces duras y compactadas en el recto hacen que estos nervios se mantengan activos en exceso y aumenten la frecuencia urinaria.</p>
    <h3>Incontinencia urinaria persistente: </h3>
    <p><b>La incontinencia urinaria también puede ser una afección persistente causada por problemas físicos o cambios subyacentes, que incluyen:</b></p>
    <p><span>Embarazo:</span>Los cambios hormonales y el peso elevado del feto pueden dar lugar a la incontinencia de esfuerzo.</p>
    <p><span>Parto:</span>El parto vaginal puede debilitar los músculos necesarios para controlar la vejiga y dañar sus nervios y el tejido de sostén, lo que lleva a que el suelo pélvico descienda (prolapso). El prolapso puede empujar hacia abajo la vejiga, el útero, el recto o el intestino delgado de su posición habitual y hacer que asomen en la vagina. Dichas protuberancias pueden asociarse a la incontinencia</p>
    <p><span>Cambios a causa de la edad: </span>El envejecimiento del músculo de la vejiga puede disminuir la capacidad de almacenar orina. Además, las contracciones involuntarias de la vejiga se vuelven más frecuentes a medida que envejeces.</p>
    <p><span>Menopausia:</span>Después de la menopausia, las mujeres producen menos estrógeno, una hormona que ayuda a conservar sana la membrana que recubre la vejiga y la uretra. El deterioro de estos tejidos puede agravar la incontinencia.</p>
    <p><span>Agrandamiento de la próstata: </span>Especialmente en los hombres mayores, la incontinencia a menudo proviene del agrandamiento de la glándula prostática, una afección conocida como "hiperplasia prostática benigna".</p>
    <p><span>Cáncer de próstata:</span>En los hombres, la incontinencia de esfuerzo o la incontinencia urinaria por urgencia pueden asociarse a un cáncer de próstata sin tratar. Pero, más a menudo, la incontinencia es un efecto secundario de los tratamientos para el cáncer de próstata.</p>
    <p><span>Obstrucción:</span>Un tumor en cualquier parte de las vías urinarias puede obstruir el flujo normal de orina y ocasionar incontinencia por rebosamiento. Los cálculos urinarios (bultos duros similares a piedras que se forman en la vejiga) a veces pueden causar pérdida de orina.</p>
    <p><span>Trastornos neurológicos: </span>La esclerosis múltiple, la enfermedad de Parkinson, los accidentes cerebrovasculares, un tumor cerebral o una lesión medular pueden interferir en las señales nerviosas involucradas en el control de la vejiga y causar incontinencia urinaria.</p>

        <img src="https://drive.google.com/uc?export=download&id=17hO4uDIUjbj7Lu3oNijpJ1Ho5wkV2rw7" alt="">


        <img src="https://drive.google.com/uc?export=download&id=1zSuFqMasxkwXCuIzPQlzezAEJqMv8fpC" alt="">


        <img src="https://drive.google.com/uc?export=download&id=1pKJvlpDRrRX1xX7nnrMrykVd0XC2p1G4" alt="">

    <h2>Factores de riesgo: </h2>
    <p><b>Los factores que aumentan el riesgo de padecer incontinencia urinaria son:</b></p>
    <p><span>Sexo:</span>Las mujeres tienen más probabilidades de sufrir incontinencia de esfuerzo. El embarazo, el parto, la menopausia y la anatomía femenina normal dan cuentas de esta diferencia. No obstante, los hombres con problemas en la glándula prostática tienen un riesgo mayor de sufrir incontinencia urinaria por urgencia y por rebosamiento.</p>
    <p><span>Edad:</span>A medida que envejeces, los músculos de la vejiga y la uretra pierden fuerza. Los cambios que sobrevienen con la edad reducen la cantidad que la vejiga puede retener y aumentan la posibilidad de liberar orina involuntariamente.</p>
    <p><span>Sobrepeso:</span>El exceso de peso aumenta la presión sobre la vejiga y los músculos circundantes, lo que los debilita y permite que pierdas orina cuando toses o estornudas.</p>
    <p><span>Tabaquismo:</span>El tabaco puede aumentar el riesgo de padecer incontinencia urinaria.</p>
    <p><span>Antecedentes familiares:</span>Si un familiar cercano tiene incontinencia urinaria, especialmente incontinencia urinaria por urgencia, tu riesgo de desarrollar la afección es mayor.</p>
    <p><span>Algunas enfermedades:</span>Las enfermedades neurológicas o la diabetes pueden aumentar el riesgo de incontinencia.</p>

        <img src="https://drive.google.com/uc?export=download&id=1UrbbUj7f-H0pNh-yTr6_gy6kjhSZwBmD" alt="">

        <img src="https://drive.google.com/uc?export=download&id=1B_wjOKI0sxhXL89n019SfZXDRDCc2yXV" alt="">

    <h2>Complicaciones: </h2>
    <p><b>Las complicaciones de la incontinencia urinaria crónica son:</b></p>
    <p><span>Problemas de la piel: </span>Cuando la piel permanece constantemente húmeda pueden aparecer erupciones, infecciones de la piel y llagas.</p>
    <p><span>Infecciones de las vías urinarias:</span>La incontinencia aumenta el riesgo de padecer infecciones de las vías urinarias recurrentes.</p>
    <p><span>Repercusión en la vida personal:</span>La incontinencia urinaria puede afectar las relaciones sociales, laborales y personales.</p>

        <img src="https://drive.google.com/uc?export=download&id=1poBuAyj63uOEP4lqTlW0HRTcGNZ7wMRe" alt="">

    <h2>Prevención: </h2>
    <p><b>La incontinencia urinaria no siempre puede prevenirse. No obstante, para disminuir el riesgo, puede resultarte útil:</b></p>
    <ul>
        <li>Mantener un peso saludable.</li>
        <li>Practicar ejercicios del suelo pélvico.</li>
        <li>Evitar alimentos que irriten la vejiga, como la cafeína, el alcohol y los alimentos ácidos.</li>
        <li>Ingerir más fibra, que puede prevenir el estreñimiento, una causa de incontinencia urinaria.</li>
        <li>Dejar de fumar o buscar ayuda para hacerlo en caso de que fumes.</li>
    </ul>

        <img src="https://drive.google.com/uc?export=download&id=1I3_T4IPBP9ZRSAVNIdbpY1ke6NkNVl3K" alt="">

        <img src="https://drive.google.com/uc?export=download&id=19Qzi55PzAE3B9e1omHTS7AN7mUT-k3LS" alt="">

    <h2>Diagnostico: </h2>
    <p>Es importante determinar el tipo de incontinencia urinaria que tienes. Con frecuencia, los síntomas le indican al médico el tipo que tienes. Esta información servirá para guiar las decisiones del tratamiento.</p>
    <p>Es probable que el médico comience con una revisión exhaustiva de la historia clínica y una exploración física. Luego, el médico probablemente te pida que hagas una maniobra sencilla que puede demostrar la incontinencia, como toser.</p>
    <p>Medida de la orina que queda en la vejiga después de la micción.</p>
    <p>Si el paciente es incapaz de orinar el diagnóstico es evidente.</p>
    <p>En otros casos, el médico trata de determinar la cantidad de orina que permanece en la vejiga después de que el paciente haya orinado tanto como le sea posible. Para ello, al acabar de orinar introduce una sonda en la vejiga para medir la orina extraída o hace una ecografía vesical para medir la cantidad de orina presente. La cantidad de orina que queda después de orinar se llama volumen residual posmiccional. Si este volumen sobrepasa la mitad de una taza (un poco más en los adultos mayores), existe una retención urinaria.</p>
    <p>Se realiza una exploración física que, por lo general, incluye un tacto rectal. En los varones, el tacto rectal puede determinar si la próstata está agrandada. Tanto en hombres como en mujeres, el tacto rectal ayuda a identificar una retención fecal. Se puede tomar y analizar una muestra de orina para determinar si existe una infección. Para determinar la causa de la retención urinaria puede ser necesario realizar un análisis de sangre y pruebas de diagnóstico por la imagen.</p>
    <p><b>A continuación, el médico probablemente te recomiende:</b></p>
    <p><span>Análisis de orina:</span>El análisis de una muestra de orina sirve para detectar signos de infección, rastros de sangre u otras anormalidades.</p>
    <p><span>Diario del funcionamiento de la vejiga:</span>Durante varios días, anotas cuánto bebes, cuándo orinas, la cantidad de orina que produces, si experimentaste una necesidad imperiosa de orinar y cuántos episodios de incontinencia tuviste.</p>
    <p><span>Medición del residuo posmiccional:</span>El médico te pide que orines (micciones) en un recipiente que mide la producción de orina. Luego, supervisa la cantidad de orina residual en la vejiga mediante un catéter o una ecografía. Una gran cantidad de orina residual en la vejiga puede significar que tienes una obstrucción en las vías urinarias o un problema con los nervios o músculos de la vejiga.</p>
    <p>Si se necesita más información, el médico puede recomendarte pruebas más complejas, como un estudio urodinámico y una ecografía pélvica. Por lo general, estas pruebas se realizan si está considerando una cirugía.</p>

        <img src="https://drive.google.com/uc?export=download&id=1-LdJ_lhBRyweJetrwjukfsqhB4UZ9HhR" alt="">

        <img src="https://drive.google.com/uc?export=download&id=1OdVRrkHmtAJT6as8HlvxbMrJNLKOccpC" alt="">

    <h2>Tratamiento:</h2>
    <p>El tratamiento de la incontinencia urinaria depende del tipo de incontinencia, la gravedad y la causa subyacente. Probablemente se necesite una combinación de tratamientos. Si una afección subyacente está causando tus síntomas, tu médico primero tratará esa afección.</p>
    <p>Tu médico puede recomendar tratamientos menos invasivos para comenzar y pasar a otras opciones si estas técnicas no te ayudan.</p>
    <h3>Técnicas conductuales:  </h3>
    <p><b>El médico puede recomendarte lo siguiente:</b></p>
    <ul>
        <li>Entrenamiento de la vejiga, para retrasar la micción después de que sientes la necesidad de orinar. Puedes comenzar tratando de contenerla durante 10 minutos cada vez que sientas la necesidad de orinar. El objetivo es prolongar el tiempo entre las idas al baño hasta que orines solamente cada 2,5 y 3,5 horas.</li>
        <li>Orinar dos veces, como ayuda para aprender a vaciar la vejiga lo más posible para evitar la incontinencia por rebosamiento. Orinar dos veces significa orinar, y luego esperar unos minutos e intentarlo nuevamente.</li>
        <li>Horarios programados para ir al baño, para orinar cada dos a cuatro horas en lugar de aguardar hasta tener la necesidad de ir.</li>
        <li>Control de los líquidos y la alimentación, para recuperar el control de la vejiga. Es posible que tengas que limitar o evitar el alcohol, la cafeína y los alimentos ácidos. Reducir el consumo de líquidos, bajar de peso o aumentar la actividad física también pueden aliviar el problema.</li>
    </ul>
    <h3>Ejercicios para fortalecer los músculos del suelo pélvico:</h3>
    <p>El médico puede recomendarte que hagas estos ejercicios con frecuencia para fortalecer los músculos que ayudan a controlar la orina. Estas técnicas, también conocidas como ejercicios de Kegel, son especialmente eficaces para la incontinencia de esfuerzo, pero también pueden ser útiles para la incontinencia urinaria por urgencia.</p>
    <p><b>Al realizar los ejercicios para fortalecer el músculo del piso pélvico, imagina que estás tratando de detener el flujo de orina. Después:</b></p>
    <ul>
        <li>Tensiona (contrae) los músculos que usarías para detener la micción y mantén la contracción por cinco segundos; luego, relájalos por cinco segundos. (Si te resulta muy difícil, comienza manteniendo la contracción durante dos segundos y relájalos por tres segundos).</li>
        <li>Continúa con el ejercicio hasta mantener las contracciones durante 10 segundos por vez.</li>
        <li>Intenta hacer al menos tres series de 10 repeticiones por día.</li>
    </ul>
    <p>Para ayudarte a identificar y contraer los músculos adecuados, tu médico podría sugerirte que trabajes con un fisioterapeuta del suelo pélvico o que intentes con técnicas de biorretroalimentación.</p>
    <h3>Medicamentos: </h3>
    <p><b>Los medicamentos que suelen utilizarse para tratar la incontinencia comprenden:</b></p>
    <p><span>Anticolinérgicos:</span>Estos medicamentos pueden calmar la vejiga hiperactiva y ser útiles para la incontinencia urinaria por urgencia. Algunos ejemplos son oxibutinina (Ditropan XL), tolterodina (Detrol), darifenacina (Enablex), fesoterodina (Toviaz), solifenacina (Vesicare) y cloruro de trospio.</p>
    <p><span>Mirabegrón (Myrbetriq):</span>Este medicamento, que se usa para tratar la incontinencia urinaria por urgencia, relaja los músculos de la vejiga y puede aumentar la cantidad de orina que la vejiga puede retener. También puede aumentar la cantidad que puedes orinar por vez y ayudarte a vaciar más la vejiga.</p>
    <p><span>Alfabloqueadores:</span>En los hombres con incontinencia urinaria por urgencia o por rebosamiento, estos medicamentos relajan los músculos del cuello de la vejiga y las fibras musculares de la próstata, al tiempo que facilitan el vaciamiento de la vejiga. Algunos ejemplos son tamsulosina (Flomax), alfuzosina (Uroxatral), silodosina (Rapaflo) y doxazosina (Cardura).</p>
    <p><span>Estrógeno tópico:</span>La aplicación del estrógeno tópico de dosis baja en su presentación de crema, anillo o parche vaginal puede ayudar a tonificar y rejuvenecer los tejidos de la uretra y la zona vaginal</p>
    <h3>Estimulación Eléctrica: </h3>
    <p>Se introducen temporalmente electrodos en el recto o la vagina para estimular y fortalecer los músculos del suelo pélvico. La estimulación eléctrica suave puede ser efectiva para la incontinencia de esfuerzo y la incontinencia imperiosa, pero es posible que necesites múltiples tratamientos durante varios meses.</p>
    <h3>Dispositivos médicos: </h3>
    <p><b>Los dispositivos diseñados para tratar a las mujeres con incontinencia comprenden:</b></p>
    <p><span>Oclusor uretral:</span>un dispositivo pequeño y desechable similar a un tampón, que se introduce en la uretra antes de una actividad específica que puede desencadenar la incontinencia; por ejemplo, jugar al tenis. El oclusor actúa como tapón para impedir la pérdida y se extrae antes de orinar.</p>
    <p><span>Pesario:</span>un anillo de silicona flexible que se introduce en la vagina y se utiliza durante todo el día. El dispositivo también se usa en mujeres con prolapso vaginal. El pesario ayuda a sostener la uretra para evitar pérdidas de orina.</p>
    <h3>Terapias intervencionistas: </h3>
    <p><b>Las terapias intervencionistas que pueden ser útiles para la incontinencia incluyen las siguientes:</b></p>
    <p><span>Inyecciones de material de relleno:    </span>Se inyecta un material sintético en el tejido que rodea la uretra. El material de relleno ayuda a mantener la uretra cerrada y reduce la pérdida de orina. Este procedimiento se usa para el tratamiento de la incontinencia por esfuerzo y, por lo general, es menos eficaz que los tratamientos más invasivos, como la cirugía. Es posible que sea necesario repetir el procedimiento más de una vez.</p>
    <p><span>Toxina botulínica A (bótox):</span>Las inyecciones de bótox en el músculo de la vejiga pueden resultar beneficiosas para las personas que tienen una vejiga hiperactiva e incontinencia urinaria por urgencia. Por lo general, el bótox se receta solamente si otros tratamientos no han dado resultado</p>
    <p><span>Estimuladores nerviosos:</span>Hay dos tipos de dispositivos que usan pulsos eléctricos indoloros para estimular los nervios involucrados en el control de la vejiga (nervios del sacro). Un tipo se implanta debajo de la piel en el glúteo, y se conecta a los cables en la región lumbar. El otro tipo es un tapón que se inserta en la vagina y que puede extraerse. La estimulación de los nervios del sacro puede controlar la vejiga hiperactiva y la incontinencia urinaria por urgencia cuando otras terapias no han dado resultado.</p>
    <h3>Cirugía: </h3>
    <p><b>Si otros tratamientos no dan resultado, varios procedimientos quirúrgicos pueden tratar los problemas que causan la incontinencia urinaria:</b></p>
    <p><span>Procedimientos con cabestrillo:</span>Para crear un cabestrillo pélvico debajo de la uretra y la zona de músculo engrosado donde la vejiga se conecta con la uretra (cuello de la vejiga), se utiliza material sintético (malla) y tiras de tu propio tejido corporal. El cabestrillo ayuda a mantener la uretra cerrada, especialmente cuando toses o estornudas. Este procedimiento se utiliza para tratar la incontinencia de esfuerzo.</p>
    <p><span>Suspensión del cuello de la vejiga:</span>Este procedimiento está pensado para sostener la uretra y el cuello de la vejiga (la zona de músculo engrosado donde la vejiga se conecta con la uretra). Esto implica una incisión abdominal; por lo tanto, se lleva a cabo bajo anestesia general o raquídea.</p>
    <p><span>Cirugía de prolapso:</span>Para las mujeres que tienen prolapso de órganos pélvicos e incontinencia urinaria mixta, la cirugía puede incluir una combinación de un procedimiento con cabestrillo y cirugía de prolapso. La reparación del prolapso de órganos pélvicos por sí sola no mejora de forma rutinaria los síntomas de incontinencia urinaria.</p>
    <p><span>Esfínter urinario artificial:</span>Se implanta un pequeño anillo lleno de líquido alrededor del cuello de la vejiga para mantener cerrado el esfínter urinario hasta que tengas la necesidad de orinar. Para orinar, presionas una válvula implantada debajo de la piel que hace que el anillo se desinfle y permite que la orina salga de la vejiga.</p>
    <h3>Compresas absorbentes y catéteres:</h3>
    <p><b>Si los tratamientos médicos no pueden eliminar la incontinencia, puedes probar productos que ayudan a aliviar la molestia e incomodidad de la pérdida de orina:</b></p>
    <p><span>Compresas y vestimenta protectora:</span>La mayoría de los productos no son más abultados que la ropa interior normal y pueden usarse cómodamente debajo de la vestimenta diaria. Los hombres con problemas de goteo de orina pueden usar un recolector de gotas (un pequeño bolsillo de compresa absorbente que se coloca sobre el pene y se mantiene en su lugar con ropa interior ceñida).</p>
    <p><span>Catéter:</span>Si tienes incontinencia porque la vejiga no se vacía adecuadamente, el médico podría recomendarte que aprendas a introducir un tubo blando (catéter) en la uretra varias veces al día para hacer un drenaje de la vejiga. Te indicarán cómo limpiar estos catéteres para usarlos nuevamente en forma segura.</p>

        <img src="https://drive.google.com/uc?export=download&id=1n4pHtgmLcMHtPexq_p1KsILNe37MYs6q" alt="">

        <img src="https://drive.google.com/uc?export=download&id=19uCtUHZFmCP-VR2oY7k_fcFtsINvFIRJ" alt="">

        <img src="https://drive.google.com/uc?export=download&id=1UlGKKFZp2J1E-Kep_TG_SBHXUCpfPz38" alt="">

        <img src="https://drive.google.com/uc?export=download&id=1uiQ2aYFXBRCOESBpmuoPdINYDFE5iEX" alt="">

        <img src="https://drive.google.com/uc?export=download&id=1n4G3mDP6L2UpvN_DquuGHnr5J_Jh4xSL" alt="">

        <img src="https://drive.google.com/uc?export=download&id=1Bk4mt-XWGjTnC0-iY9fe4dJSDJhpLklZ" alt="">

        <p style="text-align: center">
            CONDICIONES DE USO DEL SERVICIO</p>
         
                <p style="font-size: 20px"><b>
                    La información facilitada por este medio no puede, en modo alguno, sustituir a un servicio de atención médica directa, así como tampoco debe utilizarse con el fin de establecer un diagnóstico, o elegir un tratamiento en casos particulares.
                    
                    En este servicio no se hará ninguna recomendación, explícita o implícita, sobre fármacos, técnicas, productos, etc.  que se citarán únicamente con finalidad informativa.
                    
                    La utilización de este servicio se lleva a cabo bajo la exclusiva responsabilidad de los usuarios.
                </b>
                </p>