<nav class="navbar navbar-expand-xl">
  <div class="container-fluid">
    <a class="navbar-brand " href="#"><img src="../assets/images/header/Logo_Echado.svg" alt="GERIAVIDA" width="140" height="24"></a>
    <button class="navbar-toggler menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <!-- contenido del menu -->
      <div class=" cont-g">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link letra" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              geriavida
            </a>
            <ul class="dropdown-menu cont">
              <li><a class="dropdown-item" routerLink="geriavida">Introducción</a></li>
              <li><a class="dropdown-item" routerLink="seguridad">Seguridad de nuestras instalaciones</a></li>
              <li><a class="dropdown-item" routerLink="protocolos">Protocolos de Bioseguridad</a></li>
              <li><a class="dropdown-item" routerLink="visitas">visitas</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link letra" aria-current="page" routerLink="proposito">VALORES Y PROPÓSITO</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link letra" routerLink="servicios">SERVICIOS</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link letra" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ENFERMEDADES
            </a>
            <ul class="dropdown-menu cont">
              <li><a class="dropdown-item" routerLink="enfermedades">Introduccion</a></li>
              <li><a class="dropdown-item" routerLink="demenciasenil">Demencia Senil</a></li>
              <li><a class="dropdown-item" routerLink="parkinson">Parkinson</a></li>
              <li><a class="dropdown-item" routerLink="alzheimer">Alzheimer</a></li>
              <li><a class="dropdown-item" routerLink="diabetesmellitus">Diabetes Mellitus</a></li>
              <li><a class="dropdown-item" routerLink="hipertensionarterial">Hipertension Arterial</a></li>
              <li><a class="dropdown-item" routerLink="acv">ACV</a></li>
              <li><a class="dropdown-item" routerLink="artrosis">Artrosis</a></li>
              <li><a class="dropdown-item" routerLink="artritis">Artritis</a></li>
              <li><a class="dropdown-item" routerLink="osteoporosis">Osteoporosis</a></li>
              <li><a class="dropdown-item" routerLink="incontinenciaurinaria ">Incontinencia Urinaria </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link letra" routerLink="galeria">GALERIA</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link letra"routerLink="contacto">CONTACTO</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link letra" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Blog
            </a>
            <ul class="dropdown-menu cont">
              <li><a class="dropdown-item" href="../../assets/pdf/Control y manejo del estres del operador y cuidador.pdf" target="_blank">Control y manejo del estres</a></li>
              <li><a class="dropdown-item" href="../../assets/pdf/Filosofia de envejecimiento.pdf" target="_blank">Filosofia de envejecimiento</a></li>
              <li><a class="dropdown-item" href="../../assets/pdf/Nutricion para personas Adultas Mayores.pdf" target="_blank">Nutricion para personas Adultas</a></li>
              <li><a class="dropdown-item" href="../../assets/pdf/Dieta para la Hipertensión arterial.pdf" target="_blank">Dieta para la Hipertensión arterial</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link letra2"href="../../assets/pdf/Brochure.pdf" target="_blank">BROCHURE</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>