<div class="contenedor_principal">
    <div>
        <h1>ALZHEIMER</h1>
    </div>
    <div>
        <p>El término demencia deriva del latín "demens, dementatus" que significa sin mente. La enfermedad de ALZHEIMER. Es un trastorno cerebral que destruye lentamente la memoria y la capacidad de pensar y, con el tiempo, la habilidad de llevar a cabo hasta las tareas más sencillas. Las personas con Alzheimer también experimentan cambios en la conducta y la personalidad. El alzheimer es una enfermedad degenerativa cerebral, las causas que lo originan son desconocidas.</p>
    </div>
    <div>
        <p>Es una enfermedad que se inicia lentamente y los síntomas no son evidentes, pueden confundirse con otros trastornos. Es una patología que evoluciona de forma progresiva pudiendo tardar muchos años en manifestarse plenamente. Normalmente, comienza después de los 65 años, aunque en algunos casos se puede manifestar antes.</p>
    </div>
    <div>
        <p>En los casos de inicio temprano, son más frecuentes los antecedentes familiares de una demencia similar, el desarrollo es más rápido y predominan las afasias -pérdida del control del lenguaje: lectura, escritura y expresión, y las apraxias, pérdida de la capacidad de realizar movimientos y gestos normales. Un progenitor con el gen anómalo tiene una probabilidad del 50 % de transmitir ese gen a su descendiente.</p>
    </div>
    <div>
        <p>En los casos de inicio más tardío, a partir de los 65 años, la evolución tiende a ser más lenta y se caracteriza por un deterioro más global de las funciones corticales superiores. En primer lugar, el alzheimer afecta a las funciones neuronales que controlan el lenguaje, la memoria y pensamiento. Según avanza la enfermedad, los síntomas empeoran pudiendo no reconocer a familiares y dificultando sus funciones vitales hasta ser totalmente dependientes y necesitar cuidados de familiares o cuidadores.</p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/1.- Alzheimer paciente.jpg" alt="">
    </div>
    <div>
        <h2>Fases del Alzheimer: </h2>
    </div>
    <div>
        <h4>Fase I: </h4>
    </div>
    <div>
        <p>Se produce alteraciones de: </p>
    </div>
    <div>
        <h3>Memoria: </h3>
    </div>
    <div>
        <p>Olvida sus citas, las llamadas telefónicas, el nombre de las personas y los objetos familiares. Tiene dificultades para seguir una conversación, se equivoca en sus cuentas.</p>
    </div>
    <div>
        <h3>Comportamiento: </h3>
    </div>
    <div>
        <p>Está sujeto a bruscos cambios de humor. Tiene tendencia a aislarse en un entorno familiar que conoce bien: sale menos y no quiere ver a sus amigos.</p>
    </div>
    <div>
        <h3>Lenguaje y comprensión: </h3>
    </div>
    <div>
        <p>aunque continúe razonando y comunicándose bien con los otros, tiene problemas para encontrar las palabras precisas; sus frases son más cortas.</p>
    </div>
    <div>
        <h3>Coordinación de gestos espontáneos y movimientos corporales: </h3>
    </div>
    <div>
        <p>En esta fase todavía está bien. No se pierde y aún puede conducir, se viste solo y come bien.</p>
    </div>
    <div>
        <h3>Actividades de la vida diaria: </h3>
    </div>
    <div>
        <p>Es capaz de realizarlas sin demasiados problemas o con supervisión.</p>
    </div>
    <div>
        <h4>Fase II: </h4>
    </div>
    <div>
        <h3>Memoria: </h3>
    </div>
    <div>
        <p>la memoria se altera progresivamente. Olvida los sucesos recientes. No puede asimilar o comprender los hechos nuevos; sin embargo, el recuerdo de hechos lejanos persiste.</p>
    </div>
    <div>
        <h3>Comportamiento: </h3>
    </div>
    <div>
        <p>presenta alteraciones de conducta. Puede acusar a alguien de robarle si no encuentra su monedero; grita e incluso se vuelve agresivo si se le insiste para que se bañe. Experimenta miedos injustificados. Camina durante horas de un lado a otro. Se levanta durante la noche y prepara su maleta.</p>
    </div>
    <div>
        <h3>Lenguaje y comprensión: </h3>
    </div>
    <div>
        <p> habla menos, su vocabulario se empobrece, repite siempre las mismas palabras o las mismas frases durante horas. Cuando responde a las preguntas, lo hace lentamente, buscando las palabras; no acaba las frases.</p>
    </div>
    <div>
        <h3>Coordinación de gestos espontáneos y movimientos corporales:</h3>
    </div>
    <div>
        <p>sus gestos son imprecisos. Pierde el equilibrio. Se golpea con facilidad y las caídas son frecuentes. Se mueve lentamente.</p>
    </div>
    <div>
        <h3>Actividades básicas de la vida diaria: </h3>
    </div>
    <div>
        <p>generalmente mantienen el aseo y la comida.</p>
    </div>
    <div>
        <h4>Fase III: </h4>
    </div>
    <div>
        <h3>Memoria: </h3>
    </div>
    <div>
        <p>Olvida los hechos recientes y pasados. No reconoce a su cónyuge o a sus hijos. Sin embargo, conserva la memoria emocional. Se da cuenta de la persona que le cuida, le ayuda y le quiere.</p>
    </div>
    <div>
        <h3>Comportamiento: </h3>
    </div>
    <div>
        <p>Su humor es imprevisible: grita, llora, se agita. No reacciona coherentemente, ni comprende una explicación.
        </p>
    </div>
    <div>
        <h3>Lenguaje y comprensión: </h3>
    </div>
    <div>
        <p>Balbucea, repite palabras y solo utiliza correctamente algunas muy concretas. No comprende lo que se le dice.</p>
    </div>
    <div>
        <h3>Coordinación de gestos espontáneos y movimientos corporales: </h3>
    </div>
    <div>
        <p>No controla sus gestos. No sabe levantarse, sentarse o andar. Le cuesta trabajo tragar.</p>
    </div>
    <div>
        <h3>Actividades básicas de la vida diaria: </h3>
    </div>
    <div>
        <p> pérdida progresiva de todas ellas.</p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/2.- Alzheimer.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/3.- Alzheimer.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/4.- Alzheimer.jpg" alt="">
    </div>
    <div>
        <h2>Síntomas:</h2>
    </div>
    <div>
        <h3>Cognitivos: </h3>
    </div>
    <div>
        <p>Síntomas que afectan la memoria, la conciencia, el lenguaje, el discernimiento y la capacidad para planificar, organizar y llevar a cabo otros procesos de pensamiento.</p>
    </div>
    <div>
        <h3>Conductuales: </h3>
    </div>
    <div>
        <p>Grupo de síntomas adicionales que se producen al menos en algún grado en muchas personas con la enfermedad de Alzheimer. En las primeras etapas, las personas pueden experimentar cambios de personalidad como irritabilidad, ansiedad o depresión. En etapas posteriores, los individuos pueden desarrollar trastornos del sueño, tener impulsos deambulatorios, agitación (agresión física o verbal, angustia emocional en general, impaciencia, pasearse de un lado a otro, romper papel o gritar), delirios (creer firmemente en cosas que no son reales) o alucinaciones (ver, oír o sentir cosas que no están allí).
        </p>
    </div>
    <div>
        <h2>Los Primeros Signos y Síntomas de Demencia de Alzheimer:
        </h2>
    </div>
    <div>
        <p>Algunos de los primeros signos y síntomas de demencia de Alzheimer son:
        </p>
    </div>
    <div>
        <ul class="lista_3 viñeta">
            <li>Deterioro de la memoria, como, por ejemplo, dificultad para recordar eventos.
            </li>
            <li>Dificultad para concentrarse, planificar o resolver problemas.</li>
            <li>Problemas para completar tareas diarias en el hogar o en el trabajo.</li>
            <li>Confusión con respecto a los lugares o el paso del tiempo.</li>
            <li>Dificultades visuales o de espacio, como, por ejemplo, no comprender distancias al conducir, perderse o poner cosas en lugares equivocados.</li>
            <li>Problemas de lenguaje, como, por ejemplo, problemas para encontrar palabras o vocabulario reducido al hablar o escribir.</li>
            <li>Mal juicio al tomar decisiones.</li>
            <li>Retraerse de eventos laborales o compromisos sociales.</li>
            <li>Cambios de humor, como depresión u otros cambios en el comportamiento y la personalidad.</li>
        </ul>
    </div>
    <div>
        <p>La demencia de Alzheimer puede afectar varios aspectos de tu vida diaria. Cuando aparecen señales de advertencia de demencia de Alzheimer es importante obtener un diagnóstico rápido y preciso.
        </p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/5.-  Alzheimer.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/6.- del-alzheimer.jpg" alt="">
    </div>
    <div>
        <h4>Diagnóstico de demencia de Alzheimer: </h4>
    </div>
    <div>
        <p>Para diagnosticar demencia de Alzheimer, el médico de cabecera, un médico capacitado en trastornos cerebrales (neurólogo) o un médico capacitado para tratar a adultos mayores (geriatra) revisarán tu historia clínica, tus antecedentes farmacológicos y tus síntomas. El médico también realizará varias pruebas.</p>
    </div>
    <div>
        <p class="negrita">Durante tu consulta, el médico evaluará lo siguiente:</p>
    </div>
    <div>
        <ul class="lista_3 viñeta">
            <li>Si presentas deterioro de las habilidades de memoria y razonamiento (cognitivas).</li>
            <li>Si presentas cambios de conducta o personalidad.</li>
            <li>El grado de deterioro de la memoria o el razonamiento o cambios en ellos.</li>
            <li>La manera en la que los problemas de razonamiento afectan tu capacidad de desenvolverte en la vida diaria.</li>
            <li>La causa de Tus síntomas.</li>
        </ul>
    </div>
    <div>
        <p>Los médicos pueden solicitar análisis de laboratorio o pruebas de diagnóstico por imágenes del cerebro adicionales, o indicarte análisis de memoria. Estas pruebas les pueden brindar a los médicos información útil para el diagnóstico, como el descarte de otras afecciones que causan síntomas similares.</p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/7.- Alzheimer.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/8.-Alzheimer.jpg" alt="">
    </div>
    <div>
        <h4>Descartar otras enfermedades:</h4>
    </div>
    <div>
        <p>Los médicos realizarán una evaluación física y verificarán que no tengas otras afecciones que podrían estar causando o contribuyendo al progreso de tus síntomas, como signos de accidentes cerebrovasculares pasados, enfermedad de Parkinson, depresión y otras enfermedades.
        </p>
    </div>
    <div>
        <p class="negrita">Evaluación de problemas de memoria y otros síntomas: </p>
    </div>
    <div>
        <p>Para evaluar tus síntomas, el médico puede pedirte que respondas preguntas o realices tareas relacionadas con tus habilidades cognitivas, como tu memoria, tu pensamiento abstracto y tus habilidades de resolución de problemas, de uso del lenguaje y otras habilidades relacionadas.</p>
    </div>
    <div>
        <h3>Análisis del estado mental:</h3>
    </div>
    <div>
        <p>El médico puede realizar análisis del estado mental para evaluar tus habilidades de razonamiento (cognitivas) y memoria. Los médicos usan los resultados de estos análisis para evaluar el grado de deterioro cognitivo.</p>
    </div>
    <div>
        <h3>Pruebas neuropsicológicas:</h3>
    </div>
    <div>
        <p>Te puede evaluar un especialista capacitado en enfermedades cerebrales y de salud mental (neuropsicólogo). La evaluación puede comprender pruebas exhaustivas para evaluar tus habilidades de memoria y razonamiento (cognitivas).</p>
    </div>
    <div>
        <p>Estas pruebas ayudan a los médicos a determinar si tienes demencia y si puedes realizar tareas diarias de manera segura, como conducir y administrar tus finanzas. Ofrecen información acerca de lo que todavía puedes hacer y también acerca de lo que podrías haber perdido. Estas pruebas también pueden determinar si es posible que la depresión esté causando tus síntomas.</p>
    </div>
    <div>
        <h3>Entrevistas con amigos y familiares: </h3>
    </div>
    <div>
        <p>Los médicos pueden hacerles preguntas a tus amigos o familiares acerca de ti y tu comportamiento.</p>
    </div>
    <div>
        <p>Los médicos buscan detalles que no se ajusten a tu nivel de funcionamiento previo. En general, tus amigos o familiares pueden explicar cómo han cambiado tus habilidades de razonamiento (cognitivas), tus capacidades funcionales y tus comportamientos con el paso del tiempo.</p>
    </div>
    <div>
        <p>Esta serie de evaluaciones clínicas, la exploración física y el marco (la edad y la duración de los síntomas progresivos) suelen proporcionarles a los médicos información suficiente para hacer un diagnóstico de demencia de Alzheimer. Sin embargo, cuando el diagnóstico no es claro, es posible que los médicos necesiten solicitar pruebas adicionales.</p>
    </div>
    <div>
        <p class="negrita">Análisis de Laboratorio: </p>
    </div>
    <div>
        <p>Es posible que se te hagan análisis de laboratorio para descartar otras afecciones que provocan algunos síntomas similares a los de la demencia de Alzheimer, como trastornos de la tiroides o insuficiencia de vitamina B12.</p>
    </div>
    <div>
        <p><b>Pruebas de Diagnóstico por imágenes del cerebro:</b></p>
    </div>
    <div>
        <p>La demencia de Alzheimer se produce por la pérdida progresiva (degeneración) de células cerebrales. Esta degeneración puede aparecer en las exploraciones del cerebro de diversas maneras. Sin embargo, estas exploraciones solas no son suficientes para dar un diagnóstico. Las exploraciones no se usan para hacer un diagnóstico de la enfermedad, porque lo que los médicos consideran cambios normales en el cerebro relacionados con la edad tienen cosas en común con los cambios anormales.</p>
    </div>
    <div>
        <ul class="lista_3 viñeta">
            <li>Descartar otras causas, como hemorragias, tumores cerebrales o accidentes cerebrovasculares.</li>
            <li>Distinguir distintos tipos de enfermedades cerebrales degenerativas.</li>
            <li>Establecer un nivel de referencia sobre el grado de degeneración.</li>
        </ul>
    </div>
    <div>
        <p><b>Las tecnologías de pruebas por imágenes del cerebro que se utilizan con más frecuencia son:</b></p>
    </div>
    <div>
        <h3>Imágenes por resonancia magnética (RM): </h3>
    </div>
    <div>
        <p> Una RM utiliza ondas de radio poderosas e imanes para crear una imagen detallada del cerebro.</p>
    </div>
    <div>
        <h3>Tomografía computarizada (TC): </h3>
    </div>
    <div>
        <p>Una TC utiliza rayos X para obtener imágenes transversales del cerebro.</p>
    </div>
    <div>
        <h3>Tomografía por emisión de positrones (TEP): </h3>
    </div>
    <div>
        <p>Una TEP utiliza una sustancia radioactiva conocida como marcador radioactivo para detectar sustancias en el cuerpo. Existen diferentes tipos de TEP. La TEP más común es la TEP con fluorodeoxiglucosa (FDG), que puede identificar regiones cerebrales con un metabolismo de la glucosa disminuido. El patrón de cambios en el metabolismo sirve para distinguir distintos tipos de enfermedades cerebrales degenerativas.</p>
    </div>
    <div>
        <p>Recientemente se han desarrollado TEP que detectan grupos de proteínas amiloides (placas), que están asociadas con la demencia de Alzheimer, pero este tipo de TEP se utiliza típicamente en el ámbito de la investigación.</p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/9.-Alzheimer.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/10.- Examén Laboratorio.png" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/11.- Resonanacia alzheimer.jpg" alt="">
    </div>
    <div>
        <h2>Medidas y Cuidados:</h2>
    </div>
    <div>
        <h4>Reduce las frustraciones:</h4>
    </div>
    <div>
        <p>Una persona con demencia puede agitarse cuando las tareas que antes eran simples se vuelven difíciles. Para limitar los desafíos y aliviar la frustración:</p>
    </div>
    <div>
        <h3>Programa sabiamente: </h3>
    </div>
    <p>Establece una rutina diaria. Algunas tareas, como bañarse o las citas médicas, son más fáciles cuando la persona está más alerta y descansada. Permite un poco de flexibilidad para actividades espontáneas o días particularmente difíciles.
    </p>
    <h3>Toma el tiempo que necesites:</h3>
    <p>Anticipa que las tareas pueden tomar más tiempo del que solían tomar y programa más tiempo para ellas. Date tiempo para descansar durante las tareas.</p>
    <h3>Involucra a la persona:</h3>
    <p>Permite que la persona con demencia haga todo lo posible con la menor cantidad de ayuda. Por ejemplo, podría ser capaz de poner la mesa con la ayuda de señales visuales o vestirse con independencia si le colocas la ropa en el orden en que se pone.
    </p>
    <h3>Ofrece opciones: </h3>
    <p>Proporciona algunas opciones, pero no demasiadas, todos los días. Por ejemplo, proporciona dos trajes para elegir, pregúntale si prefiere una bebida caliente o fría, o pregúntale si prefiere ir a dar un paseo o ver una película.</p>
    <h3>Proporciona instrucciones sencillas: </h3>
    <p>Las personas con demencia entienden mejor la comunicación clara y en un solo paso.
    </p>
    <h3>Limita las siestas: </h3>
    <p>Evita siestas múltiples o prolongadas durante el día. Esto puede minimizar el riesgo de que se reviertan los días y las noches.</p>
    <h3>Reduce las distracciones: </h3>
    <p>Apaga el televisor y minimiza otras distracciones a la hora de comer y durante las conversaciones para que la persona con demencia pueda concentrarse más fácilmente.
    </p>
    <h4>Sé Flexible:</h4>
    <p>Con el tiempo, una persona con demencia se volverá más dependiente. Para reducir la frustración, mantente flexible y adapta tu rutina y tus expectativas según sea necesario.</p>
    <p>Por ejemplo, si él o ella quiere usar el mismo atuendo todos los días, considera comprarle algunos atuendos idénticos. Si se resiste a bañarse, considera hacerlo con menos frecuencia.</p>
    <h4>Crear un entorno Seguro:</h4>
    <p><b>La demencia afecta el juicio y las habilidades para resolver problemas, lo que aumenta el riesgo de sufrir lesiones. Para aumentar la seguridad:</b></p>
    <h3>Evita las caídas: </h3>
    <p>Evita las alfombras sueltas, los cables de extensión y cualquier desorden que pueda causar caídas. Instala pasamanos o barras de apoyo en áreas críticas.</p>
    <h3>Usa cerraduras:</h3>
    <p>Instala cerraduras en los gabinetes que contengan cualquier cosa potencialmente peligrosa, como medicamentos, alcohol, armas, sustancias de limpieza tóxicas, utensilios y herramientas peligrosas.</p>
    <h3>Comprueba la temperatura del agua: </h3>
    <p>Baja el termostato del calentador de agua para evitar quemaduras.
    </p>
    <h3>Toma precauciones de seguridad contra incendios: </h3>
    <p>Mantenga fósforos y encendedores fuera de su alcance. Si la persona con demencia es fumadora, siempre debes controlar cuando fuma. Asegúrate de que haya un extintor de incendios de fácil acceso y de que funcionen las baterías de los detectores de humo y monóxido de carbono.</p>
    <h4>Concéntrate en la atención personalizada:</h4>
    <p>Cada persona con enfermedad de Alzheimer experimentará sus síntomas y el avance de manera diferente. Adapta estos consejos prácticos a las necesidades de tu familiar.</p>
    <p>La paciencia y la flexibilidad, junto con el autocuidado y el apoyo de amigos y familiares, pueden ayudarte a enfrentar los desafíos y las frustraciones que se avecinan.</p>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/12.- Persona-con-alzheimer.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/13.-  Alzheimer Estimulaciones cognitivas.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/alzheimer/14.- Adulto-mayor con Barra de apoyo.jpg" alt="">
    </div>
</div>
