<div>
    <h1>
        ACV (ACCIDENTE CEREBROVASCULAR) O ICTUS
    </h1>
    <p>
        El ACV. Es una enfermedad cerebrovascular que afecta a los vasos sanguíneos que suministran sangre al cerebro. También se le conoce como Ictus,  embolia o trombosis. Los dos últimos términos, no obstante, se refieren más bien a distintas causas del ictus. Un ictus ocurre cuando un vaso sanguíneo que lleva sangre al cerebro se rompe o es taponado por un coágulo u otra partícula. Debido a esta ruptura o bloqueo, parte del cerebro no consigue el flujo de sangre, oxígeno y glucosa, que necesita. La consecuencia es que las células nerviosas del área del cerebro afectada no reciben oxígeno, por lo que no pueden funcionar y mueren transcurridos unos minutos. provocando lesiones temporales o  permanentes. 
    </p>
    <p>
        Si la circulación cerebral se restablece pronto y el ictus tiene una evolución menor de 2 horas (AIT), hablamos de accidente isquémico transitorio y, en este caso, lo normal es que la capacidad funcional se recupera por completo.
    </p>
</div>

<div class="centrar_imagen">
    <img src="../../assets\images\ACV\1.- ACV.png" alt="">
</div>
<div>
    <h2>
        ACV (ACCIDENTE CEREBROVASCULAR) O ICTUS
    </h2>
    <p>
        <b>Existe Dos Tipos de accidente cerebrovascular:</b>
    </p>
    <h3>
        Ictus isquémico:
    </h3>
    <p>
        Este tipo de diagnóstico del ictus representa cerca del 85% de los casos. Se debe a la obstrucción de una arteria cerebral. Debido a este bajo flujo de sangre, se pueden producir infartos cerebrales irreversibles. En otros casos, el accidente es pasajero y hablamos de Ataque Isquémico Transitorio o AIT. Sus consecuencias en el cerebro suelen ser catastróficas, y los síntomas producidos muy incapacitantes. 
    </p>
    <p>
        <b>Destacan los 3 siguientes:</b>
    </p>
    <p>
        <span>Ictus trombótico, aterotrombótico o trombosis cerebral:</span>  se trata de un ictus isquémico. El paso de la   sangre a una parte del cerebro es bloqueado por un coágulo de sangre (trombo), formado en la pared de un vaso importante.
    </p>
    <p>
        <span>Ictus embólico o embolia cerebral:</span>  el ictus es causado por un coágulo, en este caso llamado émbolo. Este diagnóstico del ictus se caracteriza porque el coágulo se forma lejos del lugar de la obstrucción. Normalmente, en el corazón.  
    </p>
    <p>
        <span>Ictus hemodinámico:</span>   es el ictus isquémico más frecuente. Con el descenso de la presión sanguínea hay un déficit de riego que ocasiona el accidente. Puede deberse a paradas cardíacas, arritmias graves o a situaciones de hipotensión arterial graves y mantenidas.
    </p>
    <h3>
        Ictus hemorrágico:
    </h3>
    <p>
        también denominado hemorragia cerebral, este tipo de ictus se debe a la rotura de una arteria y al posterior derrame de la sangre en el cerebro. Se produce una falta de riego consecuente en una parte del cerebro, además de una compresión de estructuras del sistema nervioso central. Generalmente, se debe a la hipertensión arterial, al consumo de alcohol, a determinadas enfermedades de la sangre, al uso de fármacos anticoagulantes o al consumo de drogas. El 15% de los casos pertenecen a esta tipología.
    </p>
    <p>
        <span>Hemorragia intracerebral:</span>se trata del ictus hemorrágico más frecuente y de gran peligro. El diagnóstico de este ictus se debe a la rotura de una arteria cerebral profunda y la hemorragia que ocasiona. La sangre presiona y daña el tejido, afectando todo el encéfalo.
    </p>
    <p>
        <span>Hemorragia subaracnoidea:</span> este tipo de ictus se produce entre la superficie del cerebro y la parte interna del cráneo. Su causa más frecuente es la rotura de un aneurisma arterial. Los aneurismas son malformaciones en las paredes de las arterias, por las que adoptan forma de saco o globo.
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\2.- Acv Isquemico y Hemorragico.jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\3.- Acv.jpg" alt="">
</div>
<div>
    <h2>
        Entre los factores de riesgo más importantes figuran los siguientes:
    </h2>
    <p>
        <span class="frase">Edad: </span>es más frecuente a partir de los 60 años.
    </p>
    <p>
        <span class="frase">Sexo: </span>es más frecuente en los hombres antes de llegar antes de los 60 años, aunque la mortalidad es mayor entre las mujere
    </p>
    <p>
        <span class="frase">Hipertensión arterial:</span>el control de la tensión arterial en pacientes hipertensos ha permitido, entre otros factores, reducir en un 50% la incidencia de ictus a lo lardo de las últimas décadas.
    </p>
    <p>
        <span class="frase">Factores de riesgo cardiovascular: </span>además de la hipertensión arterial también hay que tener en cuenta la diabetes, colesterol elevado, obesidad, sedentarismo y tabaquismo como factores que predisponen a un ictus.
    </p>
    <h3>
        Antecedentes familiares.
    </h3>
    <h3>
        Ictus anteriores
    </h3>
    <p>
        Es frecuente que se produzcan lo que los especialistas denominan ataques isquémicos transitorios, si bien no causan dolor ni otros síntomas y se resuelven por sí solos, por lo que pasan desapercibidos. Sin embargo, cuando se produce un ictus. hay signos inequívocos que se aprecian de forma repentina y ante los cuales se debe llamar de forma inmediata a los servicios de emergencias para llevar al paciente lo antes posible a un hospital, estos signos son:
    </p>
    <ul class="lista_3 viñeta">
        <li>Confusión.</li>
        <li>Dificultad para hablar.</li>
        <li>Problemas para andar, mareos o falta de coordinación.</li>
        <li>No ver por uno o los dos ojos.</li>
        <li>Dolor de cabeza.</li>
        <li>Parálisis de un lado de la cara o el cuerpo.</li>
        <li>Pérdida de memoria. </li>
    </ul>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\4.- Acv.jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\5.- Acv.jpg" alt="">
</div>
<div>
    <h2>
        Diagnostico:
    </h2>
    <p>
        Habitualmente, el médico puede diagnosticar un ictus por medio de la historia de los hechos y de la exploración física. Esta última contribuye a que el médico pueda determinar dónde se localiza la lesión cerebral. El diagnóstico del ictus es predominantemente clínico, pero siempre se va a complementar con técnicas de neuroimagen, como por ejemplo TAC o resonancia magnética en función de la sospecha clínica.
    </p>
    <p>
        <b>Algunas de las Pruebas que te pueden realizar incluyen:</b>
    </p>
    <p>
        <span>Examen físico:</span> El médico te hará una serie de pruebas con las que estás familiarizado, como escuchar el corazón y revisar la presión arterial. También se te hará un examen neurológico para ver cómo un posible accidente cerebrovascular puede estar afectando tu sistema nervioso.
    </p>
    <p>
        <span>Análisis de sangre:</span>Te pueden hacer varios exámenes de sangre, incluidos exámenes para verificar con qué velocidad coagula la sangre, si el nivel de glucosa en la sangre es demasiado alto o bajo, y si tienes una infección.
    </p>
    <p>
        <span>Tomografía computarizada:</span>Una tomografía computarizada utiliza una serie de radiografías para crear una imagen detallada de tu cerebro. Una tomografía computarizada puede mostrar sangrado en el cerebro, un accidente cerebrovascular isquémico, un tumor u otras afecciones. Los médicos pueden inyectar una sustancia de contraste en el torrente sanguíneo para observar los vasos sanguíneos del cuello y el cerebro con mayor detalle (angiografía por tomografía computarizada).
    </p>
    <p>
        <span>Imágenes por resonancia magnética (IRM): </span>Una RM usa potentes ondas de radio y un campo magnético para crear una vista detallada del cerebro. Una RM puede detectar tejido cerebral dañado por un accidente cerebrovascular isquémico y por hemorragias cerebrales. El médico puede inyectar una sustancia de contraste en un vaso sanguíneo para observar las arterias y venas, y resaltar el flujo sanguíneo (angiografía por RM o venografía por RM).
    </p>
    <p>
        <span>Ecografía de la carótida:</span>En este examen, las ondas sonoras crean imágenes detalladas del interior de las arterias carótidas en el cuello. Este examen muestra la acumulación de depósitos de grasa (placas) y flujo sanguíneo en las arterias carótidas
    </p>
    <p>
        <span>Angiografía cerebral:</span> En esta prueba poco común, el médico inserta un tubo delgado y flexible (catéter) a través de una pequeña incisión, generalmente en la ingle, y la guía a través de las arterias principales hasta la carótida o la arteria vertebral. Luego, el médico inyecta un tinte en los vasos sanguíneos para hacerlos visibles mediante imágenes por rayos X. Este procedimiento proporciona una visión detallada de las arterias del cerebro y del cuello.
    </p>
    <p>
        <span>Ecocardiograma: </span>Un ecocardiograma utiliza ondas sonoras para crear imágenes detalladas del corazón. Un ecocardiograma puede encontrar una fuente de coágulos en el corazón que pueden haberse desplazado desde el corazón hasta el cerebro y haber provocado un accidente cerebrovascular.
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\6.- Angiografia cerebral.jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\7.- Ecocardiograma.jfif" alt="">
</div>
<div>
    <h2>
        Tratamiento del ictus:
    </h2>
    <p>
        El tratamiento de emergencia para el accidente cerebrovascular depende de si estás teniendo un accidente cerebrovascular isquémico o un accidente cerebrovascular que implique sangrado dentro del cerebro (hemorrágico).
    </p>
    <h3>
        Accidente cerebrovascular isquémico:
    </h3>
    <p>
        <b>Para tratar un accidente cerebrovascular isquémico, los médicos deben restablecer rápidamente el flujo sanguíneo al cerebro. Esto se puede hacer con lo siguiente:</b>
    </p>
    <p>
        <span>Medicamentos intravenosos de emergencia:</span> Si se hace por vía intravenosa, la terapia con fármacos capaces de disolver un coágulo debe administrarse dentro de las 4,5 horas a partir del momento en que aparecieron los síntomas. Cuanto antes se administren estos medicamentos, mejor. El tratamiento rápido no solo mejora las posibilidades de supervivencia, sino que también puede reducir las complicaciones.
    </p>
    <p>
        La inyección intravenosa de activador tisular del plasminógeno recombinante, también llamado alteplasa (Activase) o tenecteplasa (TNKase), es el tratamiento de referencia para el accidente cerebrovascular isquémico. Por lo general, se aplica una inyección de activador tisular del plasminógeno mediante una vena del brazo dentro de las primeras tres horas. A veces, el activador tisular del plasminógeno se puede administrar hasta 4,5 horas después de la aparición de los síntomas del accidente cerebrovascular.
    </p>
    <p>
        Este fármaco restablece el flujo de sangre al disolver el coágulo sanguíneo que causó el accidente cerebrovascular. Al eliminar rápidamente la causa del accidente cerebrovascular, puede ayudar a que las personas logren una recuperación más completa tras un accidente de este tipo. Tu médico considerará ciertos riesgos, como la posibilidad de sangrado cerebral, para determinar si el activador tisular del plasminógeno es apropiado para ti.
    </p>
    <p>
        <span>Procedimientos endovasculares de emergencia:</span>Los médicos a veces tratan los accidentes cerebrovasculares isquémicos directamente dentro del vaso sanguíneo bloqueado. Se ha demostrado que el tratamiento endovascular mejora significativamente los resultados y reduce la discapacidad a largo plazo después del accidente cerebrovascular isquémico. Estos procedimientos deben realizarse lo antes posible:
    </p>
    <p>
        <span>Medicamentos administrados directamente en el cerebro:</span> Los médicos insertan una sonda larga y delgada (catéter) a través de una arteria de la ingle y la llevan hasta el cerebro para administrar el activador tisular del plasminógeno directamente donde se produce el accidente cerebrovascular. El margen de tiempo para este tratamiento es un poco más largo que para el activador tisular del plasminógeno inyectado, pero sigue siendo limitado.
    </p>
    <p>
        <span>Extracción del coágulo con un recuperador de estent:</span>Los médicos pueden usar un dispositivo conectado a un catéter para extraer directamente el coágulo del vaso sanguíneo bloqueado del cerebro. Este procedimiento es particularmente beneficioso para las personas con coágulos grandes que no se pueden disolver completamente con el activador tisular del plasminógeno. Este procedimiento a menudo se realiza en combinación con el activador tisular del plasminógeno inyectado.
    </p>
    <p>
        El margen de tiempo en el que se puede considerar el empleo de estos procedimientos se ha ido ampliando debido a la nueva tecnología de diagnóstico por imágenes. Los médicos pueden pedir pruebas de imágenes de perfusión (hechas con tomografías computarizadas o resonancias magnéticas) para determinar la probabilidad de que alguien pueda beneficiarse del tratamiento endovascular.
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\8.- Acv.jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\9.- Procedimiento endovasculares.png" alt="">
</div>
<div>
    <h2>
        Otros Procedimientos:
    </h2>
    <p>
        <b>Para disminuir el riesgo de sufrir otro accidente cerebrovascular o un accidente isquémico transitorio, el médico podría recomendarte un procedimiento para abrir una arteria estrechada debido a la placa de ateroma. Las opciones varían según la situación, pero incluyen lo siguiente:</b>
    </p>
    <p>
        <span class="frase">Endarterectomía carotídea:</span> Las arterias carótidas son los vasos sanguíneos que corren a lo largo de cada lado del cuello y que suministran sangre al cerebro. Esta cirugía quita la placa de ateroma que bloquea una arteria carótida y puede reducir el riesgo de padecer un accidente cerebrovascular isquémico. Una endarterectomía carotídea también implica riesgos, especialmente para las personas con enfermedades cardíacas u otras afecciones médicas.
    </p>
    <p>
        <span class="frase">Angioplastia y estents: </span>En una angioplastia, el cirujano introduce un catéter en las arterias carótidas a través de una arteria en la ingle. Luego, se infla un globo para expandir la arteria estrechada. A continuación, puede insertarse un estent para mantener la arteria abierta.
    </p>
    <h2>
        Accidente cerebrovascular hemorrágico:
    </h2>
    <p>
        El tratamiento de emergencia del accidente cerebrovascular hemorrágico se centra en controlar el sangrado y reducir la presión en el cerebro que causa el exceso de líquido. 
    </p>
    <p>
        <b>Estas son algunas opciones de tratamiento:</b>
    </p>
    <p>
        <span class="frase">Medidas de emergencia:</span>Si tomas medicamentos anticoagulantes para prevenir la formación de coágulos de sangre, es posible que te administren medicamentos o transfusiones de componentes sanguíneos para contrarrestar los efectos de los anticoagulantes. Asimismo, es posible que te administren medicamentos para reducir la presión en el cerebro (presión intracraneal), disminuir la presión arterial, prevenir espasmos de los vasos sanguíneos y prevenir convulsiones.
    </p>
    <p>
        <span class="frase">Cirugía:</span>Si el área del sangrado es extensa, es posible que el médico realice una cirugía para extraer la sangre y aliviar la presión en el cerebro. La cirugía también se puede utilizar para reparar problemas vasculares asociados con accidentes cerebrovasculares hemorrágicos. Es posible que el médico recomiende uno de estos procedimientos después de un accidente cerebrovascular o si un aneurisma, una malformación arteriovenosa u otro tipo de problema vascular causaron el accidente cerebrovascular hemorrágico.
    </p>
    <p>
        <span class="frase">Recorte quirúrgico:</span>Un cirujano coloca una pequeña pinza en la base del aneurisma para detener el flujo sanguíneo hacia este. Esta pinza puede evitar que el aneurisma estalle o puede evitar que un aneurisma que haya sufrido recientemente una hemorragia vuelva a sangrar.
    </p>
    <p>
        <span class="frase">Coiling (embolización endovascular): </span>Por medio de un catéter que se introduce en una arteria de la ingle y se guía hasta el cerebro, el cirujano colocará diminutas espirales desmontables en el aneurisma para rellenarlo. Esto bloquea el flujo sanguíneo hacia el aneurisma y hace que la sangre se coagule.
    </p>
    <p>
        <span class="frase">Extirpación quirúrgica de la malformación arteriovenosa</span>Es posible que los cirujanos extirpen una malformación arteriovenosa más pequeña si está ubicada en un área accesible del cerebro. Esto elimina el riesgo de ruptura y reduce el riesgo de sufrir un accidente cerebrovascular hemorrágico. Sin embargo, no siempre es posible extirpar una malformación arteriovenosa si está ubicada dentro de las cavidades profundas del cerebro, si es grande o si su extirpación causara un impacto excesivo en la función cerebral.
    </p>
    <p>
        <span class="frase">Radiocirugía estereotáctica:</span>Al aplicar múltiples haces de radiación altamente focalizados, la radiocirugía estereotáctica implica un tratamiento avanzado mínimamente invasivo que se usa para reparar malformaciones de los vasos sanguíneos.
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\10. Radio cirugia.jpg" alt="">
</div>
<div>
    <h2>
        Rehabilitación tras el Ictus:
    </h2>
    <p>
        La recuperación tras el Ictus tiene una evolución poco predecible y casi nunca es absoluta, pero se pueden hacer importantes progresos si se hace bien desde el principio. Una rehabilitación precoz es la mejor manera de asegurar el máximo de recuperación y la evaluación previa de las áreas afectadas, permitirá decidir mejor la rehabilitación a escoger. 
    </p>
    <p>
        <span class="frase">Terapia física:</span> La terapia física es uno de los métodos que se emplean para la rehabilitación tras el Ictus. Consiste en la recuperación total o parcial de capacidades como tenerse en pie, caminar, mantener el equilibrio o provenir las caídas. Este tipo de rehabilitación es muy importante, pero sobre todo en aquellos mayores que eran autónomos de manera previa al accidente. 
    </p>
    <p>
        <span class="frase">Terapia ocupacional:</span>Otro de los métodos de rehabilitación del ictus consiste en la terapia ocupacional. Es importante que el adulto mayor se reeduque en las actividades de la vida diaria, que ejercite la movilización y que vuelva a adaptarse al entorno. 
    </p>
    <p>
        <span class="frase">Logopedia:</span>Las dificultades en el lenguaje también son efecto habitual tras un ictus. Estas se pueden manifestar mediante la imposibilidad de entender o emitir ningún lenguaje adecuado (afasia), con los problemas para articular las palabras (disartria) o mediante el mutismo absoluto. Recuperar el lenguaje y las herramientas de comunicación es otro punto necesario para la rehabilitación tras el ictus. En estos casos, el logopeda se encargará de rehabilitar estas dificultades en la medida en la que sea posible. 
    <p>
        <span class="frase">Disfagia::</span>Aunque no siempre es una secuela, existe la posibilidad de que se presenten problemas para tragar después del ictus. Si es el caso, se debe modificar la dieta del enfermo y seguir técnicas de alimentación seguras para evitar la desnutrición, la deshidratación o la broncoaspiración. En algunos casos más complejos es necesario recurrir a la alimentación mediante sonda, muchas veces de manera temporal. 
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\11.- ictus-rehabilitación.jpg" alt="">
</div>
<div class="centrar_imagen_vertical">
    <img src="../../assets\images\acv\12.-.jpg" alt="">
</div>
<div>
    <h2>
        Tiempo de rehabilitación tras un ictus: 
    </h2>
    <p>
        <span class="frase">Tres - Seis meses de readaptación:</span>Los tres y seis primeros meses son los más importantes para la rehabilitación del ictus. El adulto mayor puede recuperar la mayor parte de los movimientos voluntarios durante los seis primeros meses de recuperación. 
    </p>
    <p>
        <span class="frase">Hasta Dos años de mejoras:</span>Los pacientes de ictus pueden seguir mejorando pasados los seis primeros meses. Facultades como lenguaje, el equilibrio y otras tareas rutinarias pueden seguir mejorando hasta los dos años.
    </p>
    <p>
        <span class="frase">Enfoque multidisciplinar:</span>Los programas de rehabilitación del ictus implican a un amplio equipo médico (por la cantidad de áreas que se ven afectadas en el accidente), así como a los familiares, cuidadores y a la propia persona afectada. 
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\13.- rehabilitacion-accidente-cerebrovascular.jpg" alt="">
</div>
<div>
    <h2>
        Prevención del ictus:
    </h2>
    <p>
        El mejor tratamiento para el ictus es la prevención. Los Hábitos de vida influyen en buena parte a la hora de producirse un accidente cerebrovascular, por ello una rutina de vida saludable es esencial para evitar este problema, una buena alimentación o ejercicio podrían ser el mejor esencial para evitar este problema, una buena alimentación o el ejercicio podrían ser el mejor esencial tratamiento para prevenir el ictus. 
    </p>
    <p>
        <span class="frase">Dieta equilibrada: </span>Para que nuestra dieta sea realmente un tratamiento para el ictus, debe ser variada y saludable. Además, debemos evitar aumentos del colesterol malo (LDL)Con ello se reducen las posibilidades de obesidad, un factor de riesgo importante para poder desarrollar el ictus.
    </p>
    <p>
        <span class="frase">Ejercicio diario y moderado: </span>Otra manera de prevenir el ictus es la actividad física. La falta de ejercicio y el sedentarismo pueden ocasionar muchos problemas que, en conjunto, pueden convertirse en motivos de ictus. 
    </p>
    <p>
        <span class="frase">Evitar fumar:  </span>Tanto fumar como exponerse al humo del tabaco de forma pasiva aumentan las posibilidades de sufrir de ictus.  El tratamiento preventivo del ictus incluye evitar el tabaco. 
    </p>
    <p>
        <span class="frase">Disminuir el consumo de alcohol: </span>Es importante hacer un consumo responsable y moderado del alcohol. 

    </p>
    <p>
        <span class="frase">Controlar la tensión: </span>Un control de la tensión arterial es fundamental para prevenir y evitar recaídas   en los ictus. Es importante seguir las recomendaciones médicas para un control efectivo. 
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\14.- Alimentos Balanceados.jpg" alt="">
</div>
<div>
    <h2>
        Medidas y cuidados:
    </h2>
    <p>
        <b>Consejos para la vida diaria en casa después del Ictus:</b>
    </p>
    <p>
        <span class="frase">Actividades cotidianas:</span>Es importante que la persona mayo realice las actividades diarias que le aportan autonomía tanto en el hogar como en el ámbito social. Si presenta dificultades, puede recurrir a la terapia ocupacional.
    </p>
    <p>
        <span class="frase">Aseo e higiene personal:</span>Cuidar la Higiene es importante, sobre todo en personas con Incontinencia, para evitar infecciones. En la medida en que el adulto mayor sea capaz, es bueno fomentar la máxima autonomía. 
    </p>
    <p>
        <span class="frase">Vestirse:</span>Es una tarea importante para aumentar la independencia del paciente. Debe hacerlo sin ningún tipo de ayuda. reservando las intervenciones del cuidador solo para aquello que no pueda hacer.
    </p>
    <p>
        <span class="frase">Alimentación e hidratación:</span>Los cuidados tras del ictus incluyen una alimentación equilibrada para el adulto mayor, siempre potenciando la máxima autonomía en caso de disfagia, es necesario ayudar y adaptar la dieta a su condición. 
    </p>
    <p>
        <span class="frase">Movilización:</span>Cuando existe inmovilidad, los cuidados tras el ictus, indican acomodarlos en la cama con cojines y cambiarlos de postura, los cambios van estar en función del tipo de colchón del que dispongan y sus características. Cada 2 horas si es un colchón convencional, y si es colchón especial se puede alargar de 3 a 4 horas para evitar ulceras por presión. Además, el cuidador siempre debe dirigirse o acercarse a él por el lado afectado para estimular su recuperación. 
    </p>
    <p>
        <span class="frase">Comunicación:</span>Aunque tenga dificultades para expresarse, fomentar la conversación es muy positivo. 
    </p>
    <p>
        Hay que procurar hablar con frases cortas y facilitar las respuestas ofreciéndole distintas opciones. 
    </p>
    <p>
        <span class="frase">Ocio:</span>Es fundamental en los cuidados tras el ictus que el adulto mayor tenga ratos de ocio. En estas ocasiones, es necesario adaptar las actividades a sus limitaciones. 
    </p>
    <p>
        <span>Sueño: :</span>Dado que el descanso nocturno es importante, debemos controlar periodos excesivos o prolongados de sueño diurno. 
    </p>
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\15.- como ayudar con ictus.jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\acv\16.- Dieta.jpg" alt="">
</div>
