<div class="contenedor_principal">
    <div>
        <h1>DEMENCIA SENIL</h1>
    </div>
    <div>
        <p>Es el deterioro progresivo de las funciones cognitivas e intelectuales de la persona. afectando las actividades diarias y sociales. A menudo se produce en adultos mayores, porque con el paso de los años las neuronas se van deteriorando. Pero esto no significa que todas las personas con la edad vayan a tener demencia. Para que se pueda considerar una demencia deben manifestarse al menos dos problemas en las funciones neuronales, como, por ejemplo, la pérdida de memoria y la dificultad de lenguaje.</p>
    </div>
    <div class="centrar_imagen" data-aos="fade-left">
        <img src="../../assets/images/demenciasenil/1.- Demencia Senil.jpg" alt="">
    </div>
    <div>
        <p class="negrita">Existen una serie de signos o síntomas que se manifiestan con frecuencia y son comunes en todas las personas mayores que sufren demencia entre ellos tenemos las siguientes:</p>
    </div>
    <div>
        <ul  class="lista_1 viñeta">
            <li>Aspecto Cognitivos: desorientación, alteración de la memoria, déficit de atención, alteración del lenguaje, apraxias, agnosias.</li>
            <li>Desorientación en las tres esferas: temporal, espacial y de personas.</li>
            <li>Alteración de la memoria a corto y largo plazo.</li>
            <li>Déficit de atención.</li>
            <li>Alteración del lenguaje: enlentecimiento del lenguaje, disminución de la capacidad de expresión, afasias (incapacidad de producir y/o comprender el lenguaje).</li>
            <li>Apraxias: pérdida de la capacidad de llevar a cabo movimientos con un propósito a pesar de poder realizarlo.</li>
            <li>Agnosia: incapacidad de reconocer estímulos ya aprendidos.</li>
            <li>Alteraciones conductuales: estos síntomas pueden aparecer por la propia demencia, influenciados por la personalidad previa, por el medio ambiente, incluso por otras causas físicas como presencia de dolor, efecto de algunos fármacos, deshidratación, infecciones. </li>
        </ul>
    </div>
    <div>
        <p>Pueden ser:</p>
    </div>
    <div class="dividir_3">
        <ul class="diviciones lista_2">
            <li>Agitación </li>
            <li>Deambulación errática</li>
            <li>Irritabilidad</li>
            <li>Gritos</li>
        </ul>
        <ul class="diviciones lista_2">
            <li>Alteraciones de sueño</li>
            <li>Ecolalia</li>
            <li>Mutismo</li>
            <li>Labilidad Emocional</li>
        </ul>
        <ul class="diviciones lista_2">
            <li>Trastorno de conducta alimentaria</li>
            <li>Desinhibición Verbal</li>
            <li>Vagabundeo</li>
            <li>Desinhibición sexual</li>
        </ul>
    </div>
    <div class="dos_imagenes">
        <div>
            <img src="../../assets/images/demenciasenil/2.- Demencia Depresion.jpg" alt="">
        </div>
        <div data-aos="fade-left">
            <img src="../../assets/images/demenciasenil/3- Demencia Senil.jpg" alt="">
        </div>
    </div>
    <div>
        <h2>Fases de la Demencia: </h2>
    </div>
    <div>
        <p>Como hemos explicado, la demencia se muestra de forma progresiva. Existen diferentes fases en las que se pueden ir detectando la manifestación o agravamiento de los síntomas.</p>
    </div>
    <div>
        <h3>Fase inicial: </h3>
    </div>
    <div>
        <p>En la fase inicial existe un deterior cognitivo leve. La memoria a corto plazo se deteriora, la capacidad de aprendizaje se vuelve complicada y retener nueva información es difícil. </p>
        <p>Comienzan las primeras dificultades con el lenguaje, el paciente sufre cambios de humor y de personalidad. En cuanto a las rutinas diarias, se vuelven complicadas.</p>
        <p>En esta fase, es posible que sean los familiares o amigos los que se den cuenta de los primeros síntomas del paciente, de sus olvidos y dificultades.</p>
    </div>
    <div>
        <h3>Fase intermedia: </h3>
    </div>
    <div>
        <p>En la fase intermedia, el deterioro cognitivo es moderado. La memoria a largo plazo comienza a fallar, aunque no la han perdido totalmente. Su capacidad de lenguaje es complicada, dicen frases sin sentido y pronuncias palabras erróneas. Ya no son capaces de aprender o recordar información nueva. Para realizar rutinas básicas como bañarse, comer, vestirse, etc. necesitan ayuda. Se pueden volver irritables, egocéntricos o bien sufrir apatía, depresión, aislamiento social, etc.
        </p>
        <p>En esta fase tienen grandes dificultades para mantener su conocimiento del espacio y lugar, es decir, es fácil que se desorienten o no reconozcan lugares habituales. Suelen sufrir trastornos de sueño y pueden volverse agresivos.
        </p>
    </div>
    <div>
        <h3>Fase Avanzada: </h3>
    </div>
    <div>
        <p>En la fase más avanzada, el deterioro cognitivo es grave e irreversible. Los pacientes se han convertido en personas totalmente dependientes. No pueden realizar rutinas diarias por su cuenta, hay que moverles, alimentarles, bañarles, etc. Pierden la memoria a corto y largo plazo. No reconocen a sus familiares, ni los objetos cotidianos. Como no se mueven o tienen dificultades para tragar, es fácil que pueden sufrir otras enfermedades consecuencia de su pérdida de funciones.
        </p>
        <p>En estas fases es necesario que el paciente esté asistido por personal especializado, en centros adaptados.</p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/4.- Demensia Senil.jpeg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/5.- Demensia Senil.jpg" alt="">
    </div>
    <div>
        <h2>Causas de la Demencia Senil: </h2>
    </div>
    <div>
        <p>La demencia es causada por el daño o la pérdida de las células nerviosas y sus conexiones en el cerebro. En función del área del cerebro dañada, la demencia puede tener un impacto diferente en las personas y provocar diferentes síntomas.
        </p>
        <p>Las demencias a menudo se agrupan por lo que tienen en común, como la proteína o proteínas depositadas en el cerebro o la parte del cerebro que se ve afectada. Algunas enfermedades se parecen a las demencias, como las que se producen por una reacción a medicamentos o deficiencias vitamínicas, y podrían mejorar con el tratamiento.
        </p>
    </div>
    <div>
        <h2>Demencias progresivas: </h2>
    </div>
    <div>
        <p class="negrita">Los tipos de demencia que progresan y no son reversibles incluyen los siguientes:</p>
    </div>
    <div>
        <h3>Enfermedad de Alzheimer: </h3>
    </div>
    <div>
        <p>Esta es la causa más común de demencia. Aunque no se conocen todas las causas de la enfermedad de Alzheimer, los expertos saben que un pequeño porcentaje está relacionado con mutaciones de tres genes, que pueden transmitirse de padres a hijos. Si bien son varios los genes diferentes que probablemente están implicados en la enfermedad de Alzheimer, un gen importante que aumenta el riesgo es la apolipoproteína E4 (APOE).</p>
    </div>
    <div>
        <p>Los pacientes con enfermedad de Alzheimer tienen placas y ovillos en el cerebro. Las placas son grupos de una proteína llamada beta amiloide, y los ovillos son ovillos fibrosos compuestos de proteína tau. Se cree que estos grupos dañan las neuronas sanas y las fibras que las conectan.</p>
    </div>
    <div>
        <h3>Demencia vascular: </h3>
    </div>
    <div>
        <p>Este segundo tipo más común de demencia es causado por el daño a los vasos que suministran sangre al cerebro. Los problemas de los vasos sanguíneos pueden causar accidentes cerebrovasculares o afectar el cerebro de otras maneras, como al dañar las fibras de la sustancia gris del cerebro.</p>
        <p>Los síntomas más comunes de la demencia vascular incluyen dificultades para resolver problemas, lentitud del pensamiento y pérdida de la concentración y organización. Estos tienden a ser más notorios que la pérdida de memoria.
        </p>
    </div>
    <div>
        <h3>Demencia con cuerpos de Lewy: </h3>
    </div>
    <div>
        <p>Los cuerpos de Lewy son grupos anormales de proteínas en forma de globo que se han encontrado en el cerebro de personas que tienen demencia con cuerpos de Lewy, enfermedad de Alzheimer y enfermedad de Parkinson. Este es uno de los tipos más comunes de demencia progresiva.</p>
        <p>Los signos y síntomas comunes incluyen actuar físicamente los sueños durante el sueño, ver cosas que no existen (alucinaciones visuales) y problemas con la concentración y la atención. Otros signos incluyen movimientos lentos o descoordinados, temblores y rigidez (parkinsonismo).</p>
    </div>
    <div>
        <h3>Demencia frontotemporal: </h3>
    </div>
    <div>
        <p>Este es un grupo de enfermedades caracterizadas por la ruptura de las células nerviosas y sus conexiones en los lóbulos frontal y temporal del cerebro. Estas áreas del cerebro están generalmente asociadas con la personalidad, la conducta y el lenguaje. Los síntomas comunes afectan el comportamiento, la personalidad, el pensamiento, el juicio, el lenguaje y el movimiento.</p>
    </div>
    <div>
        <h3>Demencia mixta: </h3>
    </div>
    <div>
        <p>Los estudios de la autopsia del cerebro de personas de 80 años o más que tenían demencia indican que muchos tenían una combinación de varias causas, como la enfermedad de Alzheimer, la demencia vascular y la demencia con cuerpos de Lewy. Se están realizando estudios para determinar la forma en que el hecho de tener demencia mixta afecta los síntomas y los tratamientos.
        </p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/6.- Tipos de demencia senil.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/7.- demencia-trabajo.jfif" alt="">
    </div>
    <div>
        <h2>Factores de riesgo que puedes cambiar: </h2>
    </div>
    <div>
        <p class="negrita">Es posible que puedas controlar los siguientes factores de riesgo para la demencia.</p>
    </div>
    <div>
        <h3>Dieta y ejercicio: </h3>
    </div>
    <div>
        <p>Las investigaciones demuestran que la falta de ejercicio aumenta el riesgo de demencia. Y aunque no existe una dieta específica que reduzca el riesgo de demencia, las investigaciones indican una mayor incidencia de demencia en las personas que tienen una dieta poco saludable en comparación con las que siguen una dieta de estilo mediterráneo con alto contenido de frutas y verduras, granos enteros, frutos secos y semillas</p>
    </div>
    <div>
        <h3>Consumo excesivo de alcohol: </h3>
    </div>
    <div>
        <p>Se sabe desde hace tiempo que el consumo de grandes cantidades de alcohol provoca cambios en el cerebro. En varios estudios y revisiones de gran envergadura se determinó que los trastornos del consumo de alcohol estaban vinculados a un mayor riesgo de demencia, en particular a la demencia de aparición temprana.</p>
    </div>
    <div>
        <h3>Factores de riesgo cardiovascular: </h3>
    </div>
    <div>
        <p>Estos incluyen presión arterial alta (hipertensión), colesterol alto, acumulación de grasas en las paredes arteriales (ateroesclerosis) y obesidad.</p>
    </div>
    <div>
        <h3>Depresión: </h3>
    </div>
    <div>
        <p>Aunque todavía no se entiende bien, la depresión en la tercera edad podría indicar el desarrollo de demencia.</p>
    </div>
    <div>
        <h3>Diabetes: </h3>
    </div>
    <div>
        <p>Tener diabetes puede aumentar el riesgo de demencia, especialmente si está mal controlada.</p>
    </div>
    <div>
        <h3>Tabaquismo: </h3>
    </div>
    <div>
        <p>Fumar podría aumentar el riesgo de desarrollar demencia y enfermedades de los vasos sanguíneos.</p>
    </div>
    <div>
        <h3>Contaminación del aire:</h3>
    </div>
    <div>
        <p>Según los estudios hechos en animales, las partículas de la contaminación del aire pueden acelerar la degeneración del sistema nervioso. Y, según los estudios en humanos, la exposición a la contaminación del aire, particularmente por los gases de escape del tráfico y la quema de madera, se asocia con un mayor riesgo de demencia.</p>
    </div>
    <div>
        <h3>Traumatismo craneal: </h3>
    </div>
    <div>
        <p>Las personas que han sufrido un traumatismo craneal grave corren más riesgo de desarrollar la enfermedad de Alzheimer. Varios estudios de gran envergadura hallaron que en personas de 50 años o más que tuvieron una lesión cerebral traumática, el riesgo de padecer demencia o enfermedad de Alzheimer es mayor. El riesgo aumenta en personas con lesiones cerebrales traumáticas múltiples y de mayor gravedad. Algunos estudios indican que el riesgo puede ser mayor dentro de los primeros seis meses a dos años después de la lesión cerebral traumática.</p>
    </div>
    <div>
        <h3>Alteraciones del sueño: </h3>
    </div>
    <div>
        <p>Las personas que padecen apnea del sueño y otras alteraciones del sueño podrían tener un mayor riesgo de desarrollar demencia.
        </p>
    </div>
    <div>
        <h3>Deficiencias vitamínicas y nutricionales: </h3>
    </div>
    <div>
        <p>Los niveles bajos de vitamina D, vitamina B-6, vitamina B-12 y folato pueden aumentar el riesgo de demencia.</p>
    </div>
    <div>
        <h3>Algunos medicamentos pueden empeorar la memoria: </h3>
    </div>
    <div>
        <p>Intenta evitar los productos de venta libre que ayudan a dormir que contengan difenhidramina (Advil PM, Aleve PM) y los medicamentos usados para tratar las urgencias urinarias como oxibutinina (Ditropan XL). Limita también los sedantes y las pastillas para dormir, y habla con tu médico para ver si alguno de los medicamentos que tomes puede empeorar tu memoria.</p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/8.- - golpe-en-la-cabeza1.jpeg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/9.-  Demencia Senil.jpg" alt="">
    </div>
    <div>
        <h2>Diagnóstico: </h2>
    </div>
    <div>
        <p class="negrita">No existe ninguna prueba que diagnostique por sí sola la demencia. El diagnóstico se basa tanto en la evaluación neuropsicológica como en pruebas de imagen. Se utilizan las siguientes herramientas:</p>
    </div>
    <div>
        <h3>Evaluación neurológica: </h3>
    </div>
    <div>
        <p>El neurólogo realiza una evaluación de la memoria, habla, equilibrio, movimiento, reflejos, atención Etc.</p>
    </div>
    <div>
        <h3>Pruebas cognitivas y neuropsicológicas: </h3>
    </div>
    <div>
        <p>Diversas pruebas permiten las habilidades cognitivas, como la memoria, la orientación, el razonamiento y el juicio, las habilidades del lenguaje y la atención.</p>
    </div>
    <div>
        <h3>Pruebas de imagen: </h3>
    </div>
    <div>
        <p><span class="negrita">La tomografía computarizada (TC)</span> y resonancia magnética (RM) pueden ayudar a comprobar la existencia de un ictus, hemorragia, hidrocefalia, etc.</p>
    </div>
    <div>
        <p><span class="negrita">Tomografía por emisión de positrones (PET).</span> Muestra patrones de actividad cerebral y si el cerebro presenta depósitos de proteína amiloide, característica de la enfermedad de Alzheimer.</p>
    </div>
    <div>
        <h3>Análisis clínicos: </h3>
    </div>
    <div>
        <p>Algunos análisis de sangre permiten detectar problemas físicos que pueden afectar a la función cerebral, como la deficiencia de vitamina B-12 o la hipoactividad de una glándula tiroidea. En determinados casos, se analiza el líquido cefalorraquídeo para detectar signos de infección o inflamación, o bien marcadores de alguna enfermedad degenerativa.</p>
    </div>
    <div>
        <h3>Evaluación Psiquiátrica: </h3>
    </div>
    <div>
        <p>Se recomienda descartar la depresión, revisar la medicación y valorar si el tratamiento con psicofármacos está influyendo en la cognición.</p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/10.- Examén Deemencia.png" alt="">
    </div>
    <div>
        <h2>Tratamientos: </h2>
    </div>
    <div>
        <p>La mayoría de las demencias son irreversibles, pero hay diversos tratamientos que permiten controlar sus síntomas y mejorar la calidad de vida de los pacientes. </p>
    </div>
    <div>
        <h4>Tratamiento farmacológico: </h4>
    </div>
    <div>
        <p class="negrita">Para mejorar temporalmente los síntomas de la demencia y retrasar su avance se utilizan, entre otros, los siguientes fármacos:</p>
    </div>
    <div>
        <h3>Inhibidores de la colinesterasa: </h3>
    </div>
    <div>
        <p>A esta familia pertenecen donepezilo, reivastigmina y galantamina, que actúan elevando los niveles en el cerebro de una sustancia (acetilcolina) relacionada con la función de la memoria. Aunque se usan principalmente para el Alzheimer, también se recetan para otras demencias, como la vascular, la que se produce por la enfermedad de Parkinson o la demencia con cuerpos de Lewy.</p>
    </div>
    <div>
        <h3>Memantina: </h3>
    </div>
    <div>
        <p>Este medicamento actúa regulando la actividad del glutamato, que es un mensajero químico involucrado en funciones tan relevantes como el aprendizaje o la memoria. </p>
    </div>
    <div>
        <h3>Otros medicamentos: </h3>
    </div>
    <div>
        <p>También es frecuente recurrir a medicamentos específicos para síntomas concretos que suelen presentarse en pacientes con demencia, como los estados de confusión, las alteraciones del comportamiento, los trastornos del sueño, la ansiedad, la depresión, las alucinaciones o la agresividad. Para ello, se emplean antidepresivos, antipsicóticos, ansiolíticos, etc. </p>
    </div>
    <div>
        <h4>Tratamiento no farmacológico: </h4>
    </div>
    <div>
        <p class="negrita">Los pacientes con demencia pueden beneficiarse de tratamientos no farmacológicos y medidas de estilo de vida encaminados a mejorar los problemas de comportamiento, la ansiedad y otros síntomas. Entre ellos destacan los siguientes: </p>
    </div>
    <div>
        <ul class="lista_3 viñeta">
            <li>Terapia ocupacional para prevenir caídas, mejorar el comportamiento, etc.</li>
            <li> Modificar el entorno. Reducir el desorden y los ruidos redunda en el bienestar de las personas con demencia.</li>
            <li>Fomentar el ejercicio físico.</li>
            <li>Fomentar la participación del paciente en actividades diversas.</li>
        </ul>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/11.- Tratamiento.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/12.- Demensia Senil - fisioterapia.jpeg" alt="">
    </div>
    <div>
        <h2>Otros Datos: </h2>
    </div>
    <div>
        <p>Algunas personas sufren un deterioro cognitivo leve pero que no llegan a padecer ningún tipo de demencia.</p>
        <p>En los casos en los que, si se produce una evolución hacia la demencia, esta enfermedad reduce considerablemente la calidad y la expectativa de vida.</p>
        <p>La demencia tiene una repercusión social y económica muy significativa y un impacto considerable en las familias y los cuidadores de los afectados.</p>
    </div>
    <div>
        <h2>Medidas y Cuidados: </h2>
    </div>
    <div>
        <p class="negrita">En general hay que tener en cuenta las siguientes pautas: </p>
    </div>
    <div>
        <ul class="lista_3 viñeta">
            <li>El paciente se desorienta con facilidad, hay que evitar los cambios frecuentes.</li>
            <li>Se tienen que producir cambios. es mejor que se realicen de forma gradual y teniendo en cuenta la evolución del paciente.</li>
            <li>Retirar aquellos objetos con los que el paciente pueda dañarse.</li>
            <li>Su habitación debe estar ordenada y dejar los objetos cotidianos siempre en el mismo lugar.</li>
            <li>En los cajones se pueden poner “Topes” para evitar que se caigan o se puedan hacer daño.</li>
            <li>Para facilitarle su autonomía al vestirse es mejor: utilizar ropa amplia, cambiar botones por velcros ( cierre o cierres de contacto con pega pega ) ayudarle solo si es necesario. </li>
            <li>Colocar los zapatos en la posición adecuada para calzarse. </li>
            <li>Es mejor ocupe el mismo sitio de la mesa para evitar su desorientación.</li>
            <li>Hay que mantener todas las rutinas posibles.</li>
            <li>Realizar actividades de estimulaciones cognitivas y recreación.</li>
            <li>Tener una persona cercana y conversar con ella constituye, también, un buen ejercicio para mantener la memoria activa. En este sentido, se recomienda hablar con ellas de los hechos cotidianos de la vida, de las noticias de actualidad. Iniciar cualquier tema de conversación y procurar que la persona cuidada hable lo máximo posible. Hay que ser muy cariñosos con estas personas. Irán perdiendo, poco a poco, muchas facultades, pero la sonrisa es lo último que pierden.</li>
            <li>Mostrarse comprensivos con estas personas es esencial. En este sentido, conviene dejar que continúen realizando sus tareas, bajo supervisión, para que no sientan perder su autonomía e independencia. Conforme la enfermedad avance, la persona cuidadora deberá tomar el control de algunas actividades (como cocinar), siempre pensando en el equilibrio entre su independencia y su propia seguridad.</li>
        </ul>
    </div>
    <div>
        <h3>Reforzar su memoria: </h3>
    </div>
    <div>
        <p>con actividades muy aconsejables como: </p>
    </div>
    <div>
        <ul class="lista_3 viñeta">
            <li>colocar fotografías donde acostumbra a estar la persona cuidada para que sea más fácil mantener sus recuerdos. Pedirle que le hable sobre las fotografías, quién sale, dónde estaban, Etc. Mostrarle sus propias fotografías. De esta forma, se contribuye en las fases iniciales de la demencia a retrasar la pérdida de memoria.</li>
            <li>hacerles repetir los nombres de sus familiares más cercanos y que les cuente anécdotas de cada uno de ellos.</li>
            <li>hacerles llevar un horario y colocar relojes en lugares bien visibles de la casa e ir asociando las horas con determinadas actividades como el desayuno o la comida, la medicación, los juegos, algún programa de televisión, Etc.</li>
        </ul>
    </div>
    <div>
        <p>Recordemos que como las funciones cognitivas de las personas con demencia van evolucionando y empeorando con el tiempo, de forma inevitable. sus necesidades de cuidados aumentarán y, por lo tanto, es aconsejable planificar con anticipación cualquier cambio en la situación de estas personas para poder encontrar la mejor solución y procurar la mayor felicidad a estos familiares en un momento tan delicado de sus vidas.</p>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/13.- Demencia Senil.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/demenciasenil/14-Deemencia  Estimulaciones cognitivas.jpg" alt="">
    </div>
</div>