<h1>Demencia Senil</h1>
<p>Es el deterioro progresivo de las funciones cognitivas e intelectuales de la persona. afectando las actividades
  diarias y sociales. A menudo se produce en adultos mayores, porque con el paso de los años las neuronas se van
  deteriorando. Pero esto no significa que todas las personas con la edad vayan a tener demencia. Para que se pueda
  considerar una demencia deben manifestarse al menos dos problemas en las funciones neuronales, como, por ejemplo, la
  pérdida de memoria y la dificultad de lenguaje.</p>
  <img scr="https://drive.google.com/uc?export=download&id=160QOth_VuNRAZ-Dhn1Z4EGth4APIP-Yg"/>
<p><b>Existen una serie de signos o síntomas que se manifiestan con frecuencia y son comunes en todas las personas
      mayores que sufren demencia entre ellos tenemos las siguientes:</b></p>
<ul>
  <li>Aspecto Cognitivos: desorientación, alteración de la memoria, déficit de atención, alteración del lenguaje,
      apraxias, agnosias.</li>
  <li>Desorientación en las tres esferas: temporal, espacial y de personas.</li>
  <li>Alteración de la memoria a corto y largo plazo.</li>
  <li>Déficit de atención.</li>
  <li>Alteración del lenguaje: enlentecimiento del lenguaje, disminución de la capacidad de expresión, afasias
      (incapacidad de producir y/o comprender el lenguaje).</li>
  <li>Apraxias: pérdida de la capacidad de llevar a cabo movimientos con un propósito a pesar de poder realizarlo.
  </li>
  <li>Agnosia: incapacidad de reconocer estímulos ya aprendidos.</li>
  <li>Alteraciones conductuales: estos síntomas pueden aparecer por la propia demencia, influenciados por la
      personalidad previa, por el medio ambiente, incluso por otras causas físicas como presencia de dolor, efecto de
      algunos fármacos, deshidratación, infecciones. </li>
</ul>
<p>Pueden ser:</p>
<ul>
  <li>Agitación </li>
  <li>Deambulación errática</li>
  <li>Irritabilidad</li>
  <li>Gritos</li>
  <li>Alteraciones de sueño</li>
  <li>Ecolalia</li>
  <li>Mutismo</li>
  <li>Labilidad Emocional</li>
  <li>Trastorno de conducta alimentaria</li>
  <li>Desinhibición Verbal</li>
  <li>Vagabundeo</li>
  <li>Desinhibición sexual</li>
</ul>
<img src="https://drive.google.com/uc?export=download&id=1fc9BtS8WU2OV-ihEqk1JjBlw0ve2fv0c" alt="">
<img src="https://drive.google.com/uc?export=download&id=1Cu8wo5SuyUhPU99TnCJUOzAZkcCLDGLs" alt="">
<h2>Fases de la Demencia: </h2>
<p>Como hemos explicado, la demencia se muestra de forma progresiva. Existen diferentes fases en las que se pueden ir
  detectando la manifestación o agravamiento de los síntomas.</p>
<h3>Fase inicial: </h3>
<p>En la fase inicial existe un deterior cognitivo leve. La memoria a corto plazo se deteriora, la capacidad de
  aprendizaje se vuelve complicada y retener nueva información es difícil. </p>
<p>Comienzan las primeras dificultades con el lenguaje, el paciente sufre cambios de humor y de personalidad. En cuanto
  a las rutinas diarias, se vuelven complicadas.</p>
<p>En esta fase, es posible que sean los familiares o amigos los que se den cuenta de los primeros síntomas del
  paciente, de sus olvidos y dificultades.</p>
<h3>Fase intermedia: </h3>
<p>En la fase intermedia, el deterioro cognitivo es moderado. La memoria a largo plazo comienza a fallar, aunque no la
  han perdido totalmente. Su capacidad de lenguaje es complicada, dicen frases sin sentido y pronuncias palabras
  erróneas. Ya no son capaces de aprender o recordar información nueva. Para realizar rutinas básicas como bañarse,
  comer, vestirse, etc. necesitan ayuda. Se pueden volver irritables, egocéntricos o bien sufrir apatía, depresión,
  aislamiento social, etc.</p>
<p>En esta fase tienen grandes dificultades para mantener su conocimiento del espacio y lugar, es decir, es fácil que se
  desorienten o no reconozcan lugares habituales. Suelen sufrir trastornos de sueño y pueden volverse agresivos.</p>
<h3>Fase Avanzada:</h3>
<p>En la fase más avanzada, el deterioro cognitivo es grave e irreversible. Los pacientes se han convertido en personas
  totalmente dependientes. No pueden realizar rutinas diarias por su cuenta, hay que moverles, alimentarles, bañarles,
  etc. Pierden la memoria a corto y largo plazo. No reconocen a sus familiares, ni los objetos cotidianos. Como no se
  mueven o tienen dificultades para tragar, es fácil que pueden sufrir otras enfermedades consecuencia de su pérdida
  de funciones.</p>
<p>En estas fases es necesario que el paciente esté asistido por personal especializado, en centros adaptados.</p>
<img src="https://drive.google.com/uc?export=download&id=1BbMbteX3yQ1HQZrJFD1k8P5ReglVBBdJ" alt="">
<img src="https://drive.google.com/uc?export=download&id=11P0UrQF7JLSrgG3brEayOuPXNWf8t-eR" alt="">
<h2>Causas de la Demencia Senil: </h2>
<p>La demencia es causada por el daño o la pérdida de las células nerviosas y sus conexiones en el cerebro. En función
  del área del cerebro dañada, la demencia puede tener un impacto diferente en las personas y provocar diferentes
  síntomas.</p>
<p>Las demencias a menudo se agrupan por lo que tienen en común, como la proteína o proteínas depositadas en el cerebro
  o la parte del cerebro que se ve afectada. Algunas enfermedades se parecen a las demencias, como las que se producen
  por una reacción a medicamentos o deficiencias vitamínicas, y podrían mejorar con el tratamiento.</p>
<h2>Demencias progresivas: </h2>
<p><b>Los tipos de demencia que progresan y no son reversibles incluyen los siguientes:</b></p>
<h3>Enfermedad de Alzheimer: </h3>
<p>Esta es la causa más común de demencia. Aunque no se conocen todas las causas de la enfermedad de Alzheimer, los
  expertos saben que un pequeño porcentaje está relacionado con mutaciones de tres genes, que pueden transmitirse de
  padres a hijos. Si bien son varios los genes diferentes que probablemente están implicados en la enfermedad de
  Alzheimer, un gen importante que aumenta el riesgo es la apolipoproteína E4 (APOE).</p>
<p>Los pacientes con enfermedad de Alzheimer tienen placas y ovillos en el cerebro. Las placas son grupos de una
  proteína llamada beta amiloide, y los ovillos son ovillos fibrosos compuestos de proteína tau. Se cree que estos
  grupos dañan las neuronas sanas y las fibras que las conectan.</p>
<h3>Demencia vascular: </h3>
<p>Este segundo tipo más común de demencia es causado por el daño a los vasos que suministran sangre al cerebro. Los
  problemas de los vasos sanguíneos pueden causar accidentes cerebrovasculares o afectar el cerebro de otras maneras,
  como al dañar las fibras de la sustancia gris del cerebro.</p>
<p>Los síntomas más comunes de la demencia vascular incluyen dificultades para resolver problemas, lentitud del
  pensamiento y pérdida de la concentración y organización. Estos tienden a ser más notorios que la pérdida de
  memoria.
</p>
<h3>Demencia con cuerpos de Lewy: </h3>
<p>Los cuerpos de Lewy son grupos anormales de proteínas en forma de globo que se han encontrado en el cerebro de
  personas que tienen demencia con cuerpos de Lewy, enfermedad de Alzheimer y enfermedad de Parkinson. Este es uno de
  los tipos más comunes de demencia progresiva.</p>
<p>Los signos y síntomas comunes incluyen actuar físicamente los sueños durante el sueño, ver cosas que no existen
  (alucinaciones visuales) y problemas con la concentración y la atención. Otros signos incluyen movimientos lentos o
  descoordinados, temblores y rigidez (parkinsonismo).</p>
<h3>Demencia frontotemporal: </h3>
<p>Este es un grupo de enfermedades caracterizadas por la ruptura de las células nerviosas y sus conexiones en los
  lóbulos frontal y temporal del cerebro. Estas áreas del cerebro están generalmente asociadas con la personalidad, la
  conducta y el lenguaje. Los síntomas comunes afectan el comportamiento, la personalidad, el pensamiento, el juicio,
  el lenguaje y el movimiento.</p>
<h3>Demencia mixta: </h3>
<p>Los estudios de la autopsia del cerebro de personas de 80 años o más que tenían demencia indican que muchos tenían
  una combinación de varias causas, como la enfermedad de Alzheimer, la demencia vascular y la demencia con cuerpos de
  Lewy. Se están realizando estudios para determinar la forma en que el hecho de tener demencia mixta afecta los
  síntomas y los tratamientos.</p>
<img src="https://drive.google.com/uc?export=download&id=1yQXPnnNPDiofnntHcOT_8nmwWln9T93u" alt="">
<img src="https://drive.google.com/uc?export=download&id=1_2B1cWIje_YzujBxt80fhjzXxECjfhyo" alt="">
<h2>Factores de riesgo que puedes cambiar: </h2>
<p><b>Es posible que puedas controlar los siguientes factores de riesgo para la demencia.</b></p>
<h3>Dieta y ejercicio: </h3>
<p>Las investigaciones demuestran que la falta de ejercicio aumenta el riesgo de demencia. Y aunque no existe una dieta
  específica que reduzca el riesgo de demencia, las investigaciones indican una mayor incidencia de demencia en las
  personas que tienen una dieta poco saludable en comparación con las que siguen una dieta de estilo mediterráneo con
  alto contenido de frutas y verduras, granos enteros, frutos secos y semillas</p>
<h3>Consumo excesivo de alcohol: </h3>
<p>Se sabe desde hace tiempo que el consumo de grandes cantidades de alcohol provoca cambios en el cerebro. En varios
  estudios y revisiones de gran envergadura se determinó que los trastornos del consumo de alcohol estaban vinculados
  a un mayor riesgo de demencia, en particular a la demencia de aparición temprana.</p>
<h3>Factores de riesgo cardiovascular: </h3>
<p>Estos incluyen presión arterial alta (hipertensión), colesterol alto, acumulación de grasas en las paredes arteriales
  (ateroesclerosis) y obesidad.</p>
<h3>Depresión: </h3>
<p>Aunque todavía no se entiende bien, la depresión en la tercera edad podría indicar el desarrollo de demencia.</p>
<h3>Diabetes: </h3>
<p>Tener diabetes puede aumentar el riesgo de demencia, especialmente si está mal controlada.</p>
<h3>Tabaquismo: </h3>
<p>Fumar podría aumentar el riesgo de desarrollar demencia y enfermedades de los vasos sanguíneos.</p>
<h3>Contaminación del aire:</h3>
<p>Según los estudios hechos en animales, las partículas de la contaminación del aire pueden acelerar la degeneración
  del sistema nervioso. Y, según los estudios en humanos, la exposición a la contaminación del aire, particularmente
  por los gases de escape del tráfico y la quema de madera, se asocia con un mayor riesgo de demencia.</p>
<h3>Traumatismo craneal:</h3>
<p>Las personas que han sufrido un traumatismo craneal grave corren más riesgo de desarrollar la enfermedad de
  Alzheimer. Varios estudios de gran envergadura hallaron que en personas de 50 años o más que tuvieron una lesión
  cerebral traumática, el riesgo de padecer demencia o enfermedad de Alzheimer es mayor. El riesgo aumenta en personas
  con lesiones cerebrales traumáticas múltiples y de mayor gravedad. Algunos estudios indican que el riesgo puede ser
  mayor dentro de los primeros seis meses a dos años después de la lesión cerebral traumática.</p>
<h3>Alteraciones del sueño:</h3>
<p>Las personas que padecen apnea del sueño y otras alteraciones del sueño podrían tener un mayor riesgo de desarrollar
  demencia.</p>
<h3>Deficiencias vitamínicas y nutricionales:</h3>
<p>Los niveles bajos de vitamina D, vitamina B-6, vitamina B-12 y folato pueden aumentar el riesgo de demencia.</p>
<h3>Algunos medicamentos pueden empeorar la memoria:</h3>
<p>Intenta evitar los productos de venta libre que ayudan a dormir que contengan difenhidramina (Advil PM, Aleve PM) y
  los medicamentos usados para tratar las urgencias urinarias como oxibutinina (Ditropan XL). Limita también los
  sedantes y las pastillas para dormir, y habla con tu médico para ver si alguno de los medicamentos que tomes puede
  empeorar tu memoria.</p>
<img src="https://drive.google.com/uc?export=download&id=1gsP7E8OZOyhvOKDgExFa2QtxtG-vQ3th" alt="">
<img src="https://drive.google.com/uc?export=download&id=1if1OYcqxssoWTyaDaxpzFaApCW4m3ftc" alt="">
<h2>Diagnóstico: </h2>
<p><b>No existe ninguna prueba que diagnostique por sí sola la demencia. El diagnóstico se basa tanto en la evaluación
      neuropsicológica como en pruebas de imagen. Se utilizan las siguientes herramientas:</b></p>
<h3>Evaluación neurológica: </h3>
<p>El neurólogo realiza una evaluación de la memoria, habla, equilibrio, movimiento, reflejos, atención Etc.</p>
<h3>Pruebas cognitivas y neuropsicológicas: </h3>
<p>Diversas pruebas permiten las habilidades cognitivas, como la memoria, la orientación, el razonamiento y el juicio,
  las habilidades del lenguaje y la atención.</p>
<h3>Pruebas de imagen: </h3>
<p><b>La tomografía computarizada (TC)</b> y resonancia magnética (RM) pueden ayudar a comprobar la existencia de un
  ictus, hemorragia, hidrocefalia, etc.</p>
<p><b>Tomografía por emisión de positrones (PET).</b> Muestra patrones de actividad cerebral y si el cerebro presenta
  depósitos de proteína amiloide, característica de la enfermedad de Alzheimer.</p>
<h3>Análisis clínicos: </h3>
<p>Algunos análisis de sangre permiten detectar problemas físicos que pueden afectar a la función cerebral, como la
  deficiencia de vitamina B-12 o la hipoactividad de una glándula tiroidea. En determinados casos, se analiza el
  líquido cefalorraquídeo para detectar signos de infección o inflamación, o bien marcadores de alguna enfermedad
  degenerativa.</p>
<h3>Evaluación Psiquiátrica: </h3>
<p>Se recomienda descartar la depresión, revisar la medicación y valorar si el tratamiento con psicofármacos está
  influyendo en la cognición.</p>
<img src="https://drive.google.com/uc?export=download&id=" alt="">
<h2>Tratamientos: </h2>
<p>La mayoría de las demencias son irreversibles, pero hay diversos tratamientos que permiten controlar sus síntomas y
  mejorar la calidad de vida de los pacientes. </p>
<h4>Tratamiento farmacológico: </h4>
<p><b>Para mejorar temporalmente los síntomas de la demencia y retrasar su avance se utilizan, entre otros, los
      siguientes fármacos:</b></p>
<h3>Inhibidores de la colinesterasa: </h3>
<p>A esta familia pertenecen donepezilo, reivastigmina y galantamina, que actúan elevando los niveles en el cerebro de
  una sustancia (acetilcolina) relacionada con la función de la memoria. Aunque se usan principalmente para el
  Alzheimer, también se recetan para otras demencias, como la vascular, la que se produce por la enfermedad de
  Parkinson o la demencia con cuerpos de Lewy.</p>
<h3>Memantina: </h3>
<p>Este medicamento actúa regulando la actividad del glutamato, que es un mensajero químico involucrado en funciones tan
  relevantes como el aprendizaje o la memoria. </p>
<h3>Otros medicamentos: </h3>
<p>También es frecuente recurrir a medicamentos específicos para síntomas concretos que suelen presentarse en pacientes
  con demencia, como los estados de confusión, las alteraciones del comportamiento, los trastornos del sueño, la
  ansiedad, la depresión, las alucinaciones o la agresividad. Para ello, se emplean antidepresivos, antipsicóticos,
  ansiolíticos, etc. </p>
<h4>Tratamiento no farmacológico: </h4>
<p>Los pacientes con demencia pueden beneficiarse de tratamientos no farmacológicos y medidas de estilo de vida
  encaminados a mejorar los problemas de comportamiento, la ansiedad y otros síntomas. Entre ellos destacan los
  siguientes: </p>
<ul>
  <li>Terapia ocupacional para prevenir caídas, mejorar el comportamiento, etc.</li>
  <li> Modificar el entorno. Reducir el desorden y los ruidos redunda en el bienestar de las personas con demencia.
  </li>
  <li>Fomentar el ejercicio físico.</li>
  <li>Fomentar la participación del paciente en actividades diversas.</li>
</ul>
<img src="https://drive.google.com/uc?export=download&id=1kCz3nQ3Zmwf2KIvFFr6y75sauuUtupTP" alt="">
<img src="https://drive.google.com/uc?export=download&id=1KKbJpL_QGTloP1nrvDNgkPnmXLD8epPt" alt="">
<h2>Otros Datos: </h2>
<p>Algunas personas sufren un deterioro cognitivo leve pero que no llegan a padecer ningún tipo de demencia.</p>
<p>En los casos en los que, si se produce una evolución hacia la demencia, esta enfermedad reduce considerablemente la
  calidad y la expectativa de vida.</p>
<p>La demencia tiene una repercusión social y económica muy significativa y un impacto considerable en las familias y
  los cuidadores de los afectados.</p>
<h2>Medidas y Cuidados: </h2>
<p>En general hay que tener en cuenta las siguientes pautas: </p>
<ul>
  <li>El paciente se desorienta con facilidad, hay que evitar los cambios frecuentes.</li>
  <li>Se tienen que producir cambios. es mejor que se realicen de forma gradual y teniendo en cuenta la evolución del
      paciente.</li>
  <li>Retirar aquellos objetos con los que el paciente pueda dañarse.</li>
  <li>Su habitación debe estar ordenada y dejar los objetos cotidianos siempre en el mismo lugar.</li>
  <li>En los cajones se pueden poner “Topes” para evitar que se caigan o se puedan hacer daño.</li>
  <li>Para facilitarle su autonomía al vestirse es mejor: utilizar ropa amplia, cambiar botones por velcros ( cierre o
      cierres de contacto con pega pega ) ayudarle solo si es necesario. </li>
  <li>Colocar los zapatos en la posición adecuada para calzarse. </li>
  <li>Es mejor ocupe el mismo sitio de la mesa para evitar su desorientación.</li>
  <li>Hay que mantener todas las rutinas posibles.</li>
  <li>Realizar actividades de estimulaciones cognitivas y recreación.</li>
  <li>Tener una persona cercana y conversar con ella constituye, también, un buen ejercicio para mantener la memoria
      activa. En este sentido, se recomienda hablar con ellas de los hechos cotidianos de la vida, de las noticias de
      actualidad. Iniciar cualquier tema de conversación y procurar que la persona cuidada hable lo máximo posible.
      Hay que ser muy cariñosos con estas personas. Irán perdiendo, poco a poco, muchas facultades, pero la sonrisa es
      lo último que pierden.</li>
  <li>Mostrarse comprensivos con estas personas es esencial. En este sentido, conviene dejar que continúen realizando sus tareas, bajo supervisión, para que no sientan perder su autonomía e independencia. Conforme la enfermedad avance, la persona cuidadora deberá tomar el control de algunas actividades (como cocinar), siempre pensando en el equilibrio entre su independencia y su propia seguridad.</li>
</ul>
<h3>Reforzar su memoria: </h3>
<p>con actividades muy aconsejables como: </p>
<ul>
  <li>colocar fotografías donde acostumbra a estar la persona cuidada para que sea más fácil mantener sus recuerdos.Pedirle que le hable sobre las fotografías, quién sale, dónde estaban, Etc. Mostrarle sus propias fotografías.De esta forma, se contribuye en las fases iniciales de la demencia a retrasar la pérdida de memoria.</li>
  <li>hacerles repetir los nombres de sus familiares más cercanos y que les cuente anécdotas de cada uno de ellos.
  </li>
  <li>hacerles llevar un horario y colocar relojes en lugares bien visibles de la casa e ir asociando las horas condeterminadas actividades como el desayuno o la comida, la medicación, los juegos, algún programa de televisión, Etc.</li>
</ul>
<p>Recordemos que como las funciones cognitivas de las personas con demencia van evolucionando y empeorando con el tiempo, de forma inevitable. sus necesidades de cuidados aumentarán y, por lo tanto, es aconsejable planificar con anticipación cualquier cambio en la situación de estas personas para poder encontrar la mejor solución y procurar lamayor felicidad a estos familiares en un momento tan delicado de sus vidas.</p>
<img src="https://drive.google.com/uc?export=download&id=1GkoRXrUS0sGt5RUlH7a_ByTXsrgaOjmF" alt="">
