<div *ngFor="let enfermedades of Enfermedades9;let iControl=index">
  <div class="contenedor_principal">
      <h1 >
          {{enfermedades.nam}}
      </h1>
      <p>
          {{enfermedades.content}}
      </p>

      <img src="{{enfermedades.urlimg}}" alt="">

  </div>
</div>


<div>
    <h1>ARTRITIS</h1>
</div>
<div>
    <p>
        La artritis es la inflamación de una o varias articulaciones, es decir, de la unión entre los huesos, sobre la que produce el movimiento de los mismos. Se produce generalmente por la degradación del cartílago.
    </p>
    <p>
        La causa más frecuente de artritis entre los adultos mayores, es el deterioro o desgaste del cartílago, que protege la articulación y evita el roce entre los huesos, proporcionando suavidad a los movimientos. La degradación del cartílago puede hacer que en determinados momentos los huesos entre en contacto, ocasionando los síntomas característicos de la artritis.
    </p>
</div>

<div class="centrar_imagen">
        <img src="../../assets\images\artritis\1.- Adulto con baston.jpg" alt="">
</div>
<h2>Síntomas más habituales de la artritis son:</h2>
<div class="dividir_3">
    <ul class="diviciones">
        <li>Dolor.  </li>
        <li>Inflamación de articulaciones. </li>
        <li>Rigidez al despertar. </li>
    </ul>
    <ul class="diviciones">
        <li>Reducción de la movilidad articular.</li>
        <li>Enrojecimiento de la zona de la articulación.</li>
        <li>Deformidad progresiva de articulaciones.</li>
    </ul>
</div>

<div class="centrar_imagen_vertical">
    <img src="../../assets\images\artritis\2.- Artritis reumatoide.jpg" alt="">
</div>
<div class="centrar_imagen_vertical">
    <img src="../../assets\images\artritis\3.- Artrosis de Rodilla.jpg" alt="">
</div>
<div>
    <h2>
        Causas:
    </h2>
    <p>
        La artritis involucra la degradación de las estructuras articulares, particularmente del cartílago. El cartílago normal protege una articulación y permite que esta se mueva de forma suave. El cartílago también absorbe el golpe cuando se ejerce presión sobre la articulación, como sucede cuando usted camina. Sin la cantidad usual de cartílago, los huesos bajo el cartílago se dañan y se rozan. Esto causa dolor, hinchazón (inflamación) y rigidez.
    </p>
    <p>
        <b>Otras estructuras articulares afectadas por la artritis incluyen: </b>
    </p>
    <ul class="lista_3 viñeta">
        <li>El sinovio.</li>
        <li>El hueso adjunto a la articulación.</li>
        <li>Los ligamentos y los tendones.</li>
        <li>El recubrimiento de los ligamentos y los tendones (bursa).</li>
    </ul>
    <p>
        <b> La inflamación y daño de la articulación puede ser consecuencia de: </b>
    </p>
    <ul class="lista_3 viñeta">
        <li>Una enfermedad autoinmunitaria (el sistema inmunitario del cuerpo ataca por error al tejido sano).</li>
        <li>Fractura ósea.</li>
        <li>Desgaste y deterioro" general de las articulaciones.</li>
        <li>Infección, con frecuencia por bacterias o virus.</li>
        <li>Cristales como el ácido úrico o el dihidrato de pirofosfato cálcico.</li>
    </ul>
    <p>
        En la mayoría de los casos, la inflamación articular desaparece después de que la causa desaparece o recibe tratamiento. Algunas veces, no lo hace. Cuando esto sucede, usted tiene artritis prolongada (crónica).
    </p>
    <p>
        La artritis puede presentarse en personas de cualquier edad o sexo. La osteoartritis, que es causada por los procesos no inflamatorios y que aumenta con la edad, es el tipo más común.
    </p>
    <p>
        <b> Otros tipos más comunes de artritis inflamatoria incluyen: </b>
    </p>
    <ul class="lista_3 viñeta">
        <li>Espondilitis anquilosante</li>
        <li>Artritis por cristales, gota o enfermedad por deposiciones de pirofosfatos de calcio</li>
        <li>Artritis reumatoidea juvenil (en niños)</li>
        <li>Infecciones bacterianas</li>
        <li>Artritis psoriásica</li>
        <li>Artritis reactiva</li>
        <li>Artritis reumatoidea (en adultos)</li>
        <li>Esclerodermia</li>
        <li>Lupus eritematoso sistémico (LES)</li>
    </ul>
</div>
<div class="centrar_imagen_vertical">
    <img src="../../assets\images\artritis\4.-Artritis reumatoide 2.jpg" alt="">
</div>
<div class="centrar_imagen_vertical">
    <img src="../../assets\images\artritis\5.- Artritis.jpg" alt="">
</div>
<div class="centrar_imagen_vertical">
    <img src="../../assets\images\artritis\6.-PNG Artritis.png" alt="">
</div>
<div>
    <h2>
        Diagnóstico:
    </h2>
    <p>
        Durante la exploración física, los médicos revisarán las articulaciones para detectar hinchazón, enrojecimiento y temperatura. También querrán observar tu capacidad para mover las articulaciones.
    </p>
    <p>
        <span class="frase">Análisis de laboratorio:</span> El análisis de diferentes tipos de líquidos corporales puede ayudar a identificar el tipo de artritis que tengas. Los líquidos comúnmente analizados comprenden la sangre, la orina y el líquido sinovial. Para obtener una muestra del líquido sinovial, los médicos limpiarán e insensibilizarán la zona antes de insertar una aguja en el espacio de la articulación para extraer líquido.
    </p>
    <p>
        <span class="frase">Diagnóstico por imágenes: </span> Estos tipos de pruebas pueden detectar problemas dentro de la articulación que pueden estar provocando los síntomas.
    </p>
    <p>
        <b>Entre los ejemplos, se incluyen los siguientes: </b>
    </p>
    <p>
        <span class="frase">Radiografías:</span> Las radiografías, que usan niveles bajos de radiación para visualizar el hueso, pueden mostrar si hay pérdida del cartílago, daño en los huesos y espolones óseos. Las radiografías no pueden revelar el daño artrítico temprano, pero a menudo se utilizan para seguir la evolución de la enfermedad.
    </p>
    <p>
        <span class="frase">Tomografía computarizada: </span> Los escáneres para la tomografía computarizada realizan radiografías desde muchos ángulos diferentes y combinan la información para crear vistas transversales de las estructuras internas. Las tomografías computarizadas pueden visualizar el hueso y los tejidos blandos que los rodean.
    </p>
    <p>
        <span class="frase">Imágenes por resonancia magnética:</span> La resonancia magnética, que combina ondas de radio con un campo magnético potente, puede producir imágenes transversales más detalladas de tejidos blandos tales como cartílagos, tendones y ligamentos.
    </p>
    <p>
        <span class="frase">Ecografía:</span> Esta tecnología utiliza ondas sonoras de alta frecuencia para obtener imágenes de los tejidos blandos, los cartílagos y las estructuras que contienen líquido cerca de las articulaciones (bursas). La ecografía también se utiliza para guiar la colocación de las agujas para extraer líquido articular o inyectar medicamentos en la articulación.
    </p>
</div>
<div class="centrar_imagen_vertical">
    <img src="../../assets\images\artritis\7.-.png" alt="">
    </div>
<div class="centrar_imagen_vertical">
    <img src="../../assets\images\artritis\8- Artritis placa.jpg" alt="">
</div>

<div>
    <h2>
        Tratamiento para la Artritis:
    </h2>
    <p>
        <b>El tratamiento para la artritis depende del tipo, la severidad y la ubicación del trastorno. Los tratamientos más usados incluyen:</b>
    </p>
    <ul class="lista_3 viñeta">
        <li>Medicamentos: los medicamentos disponibles de venta libre o bajo receta pueden reducir la inflamación y el dolor.</li>
        <li>Terapia: la fisioterapia y el ejercicio pueden mejorar el rango de movimiento y flexibilidad mejorando la fortaleza ósea y muscular. Otras opciones incluyen terapia con masajes, terapia con agua o aparatos ortopédicos.</li>
        <li>Cirugía: la cirugía de reemplazo de la articulación (artroplastia) o la cirugía de fusión articular podrían ser las mejores opciones de tratamiento para algunos pacientes.</li>
        <li>Conviene dormir una media de 8-10 horas nocturnas.</li>
        <li>Hay que evitar actividades que precisen esfuerzos físicos, obliguen a estar mucho tiempo de pie o necesiten de movimientos repetitivos, sobre todo con las manos.</li>
        <li>En los periodos de poca inflamación, es muy recomendable practicar algún ejercicio físico de forma habitual y sin cansarse.</li>
        <li>Durante el reposo, hay que adoptar una postura adecuada, evitando doblar las articulaciones.</li>
        <li>Una articulación inflamada debe mantenerse en reposo. Sin embargo, es muy conveniente contar con una buena musculatura alrededor de la articulación inflamada, pero sin mover dicha articulación (ejercicios "isométricos").</li>
        <li>Perder peso cuando el paciente presenta sobrepeso u obesidad.</li>
        <li>Instalar en el baño asas en las que poder agarrarse.</li>
        <li>Cuidar la alimentación, incorporando alimentos ricos en ácidos grasos Omega-3, además de frutas y verduras.</li>
        <li>Dispositivos de asistencia: El uso de bastones, plantillas de zapatos, andadores, asientos de inodoro elevados y otros dispositivos de asistencia pueden ayudar a proteger las articulaciones y mejorar la capacidad para realizar las tareas diarias.</li>
    </ul>
</div>
<div class="centrar_imagen_vertical">
    <img src="../../assets\images\artritis\9.- Terapia dde Artritis.jpeg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\artritis\10- Ejercicio para la artrosis.jpg" alt="">
</div>
<div class="centrar_imagen">
    <img src="../../assets\images\artritis\11.- Adulto mayor realizando ejercicio.jpg" alt="">
</div>
<div class="centrar_imagen_vertical">
    <img src="../../assets\images\artritis\12.-Baño con barras de apoyo (1).jpg" alt="">
</div>
