<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<!-- <div class="arriba"><img src="../assets/arriba.svg" alt=""></div> -->
<div class="contenedor">
  <div class="banner">

    <div class="capa2">
      <header class="contenido-header" id="inicio">
        <div class="barra" id="fecha">
          <!-- <p>Sabado <span>14</span> de setiembre del <span>2022</span></p> -->
          <p>{{fecha|date}} {{fecha|date:'shortTime'}}</p>
<!--           <script>
            const fecha=document.getElementById("fecha");
            const tiempoTranscurrido = Date.now();
            const hoy = new Date(tiempoTranscurrido);
            fecha.innerHTML='<p>${hoy}hola</p>'
          </script> -->
          <p>
            Informes y Cita Previa: <span>975347030</span>
          </p>
        </div>

      </header>

      <app-navbar></app-navbar>
      <div class="sec1 capa">
        <section class="capa"><img src="../assets/logocompleto.svg" alt=""></section>
      </div>

      <section class="sec2">

        <!-- <div class="izquierdo">
          <img  src="../../assets/isquierdo.svg" alt="">
        </div>
        <div class="derecha">
          <img  src="../../assets/derecho.svg" alt="">
        </div> -->

        <div class="cont2">
          <a class="telefono" h href="tel:+51 975 347 030" target="_blank">
            <img src="../../assets/Telefono 2.svg" alt="">
          </a>
      </div>
        <div class="cont">
            <a class="whatsap" href="https://api.whatsapp.com/send?phone=975347030" target="_blank">
              <img src="../../assets/Whatsapp 1.svg" alt="">
            </a>
        </div>

        <router-outlet></router-outlet>

        <!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
          <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
              <i class="fas fa-angle-double-up"></i>
          </button>
      </div> -->
      </section>
      <section class="sec3">
        <app-footer></app-footer>

      </section>
</div>
<!-- <div class="abajo"><img src="../assets/abajo.svg" alt=""></div>-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
