
<div class="contenedor_principal">
    <h1>HIPERTESIÓN ARTERIAL</h1>
    <p>La presión arterial alta (hipertensión) es una afección frecuente en la que la fuerza que ejerce la sangre contra las paredes de tus arterias con el transcurso del tiempo es lo suficientemente alta como para poder causarte problemas de salud, como una enfermedad cardíaca.</p>
    <p>Es el principal factor de riesgo cardiovascular. Se le conoce como el “asesino silencioso”, porque en la mayoría de casos no presenta síntomas, por lo que se pueden llegar a desarrollar problemas cardiacos, cerebrales o renales sin ser conscientes de padecerla.</p>
    <p>La presión arterial está determinada tanto por la cantidad de sangre que el corazón bombea como por el grado de resistencia al flujo de la sangre en las arterias. Cuanta más sangre tu corazón bombee y cuanto más estrechas estén tus arterias, mayor será tu presión arterial. La lectura de la presión arterial se determina en milímetros de mercurio (mm Hg). Tiene dos números.</p>
    <p><span class="frase">Valor superior (presión sistólica): </span>El primero, o superior, mide la presión en las arterias cuando el corazón late</p>
        <p><span class="frase">Valor inferior (presión diastólica):</span> El segundo, o inferior, mide la presión en las arterias entre los latidos.</p>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/1.- Hipertension arterial.jpeg" alt="">
    </div>
    <h2>Clasificación:</h2>
    <p><b>Las mediciones de la presión arterial se clasifican en varias categorías:</b></p>
    <p><span class="frase">Presión arterial normal: </span>Tu presión arterial es normal si se encuentra por debajo de 120/80 mm Hg.</p>
    <p><span>Presión arterial elevada: </span> La presión arterial elevada es una presión sistólica de 120 a 129 mm Hg y una presión diastólica por debajo (no por encima) de 80 mm Hg. La presión arterial elevada tiende a empeorar con el tiempo, a menos que se tomen medidas para controlarla. La presión arterial elevada también puede llamarse prehipertensión.</p>
    <p><span class="frase">Hipertensión de etapa 1: </span>La hipertensión de etapa 1 es una presión sistólica que oscila entre 130 y 139 mm Hg o una presión diastólica que oscila entre 80 y 89 mm Hg.
    </p>
    <p><span class="frase">Hipertensión de etapa 2: </span>La hipertensión de etapa 2, que es una hipertensión más grave, es una presión sistólica de 140 mm Hg o superior, o una presión diastólica de 90 mm Hg o superior.
    </p>
    <p><span class="frase">Crisis hipertensiva: </span>Una presión arterial superior a los 180/120 mm Hg es una situación de emergencia que requiere atención médica de urgencia. Si tienes este resultado cuando tomas tus medicamentos para la presión arterial en casa, espera algunos minutos y vuelve a hacer la prueba. Si tu presión arterial todavía sigue alta, comunícate con tu médico de inmediato. Si también tienes dolor en el pecho, problemas de visión, entumecimiento o debilidad, problemas para respirar o algún signo o síntoma de un accidente cerebrovascular o ataque cardíaco.</p>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/2.- Hipertensión.jpg" alt="">
    </div>
    <h2>Síntomas: </h2>
    <p>En la mayoría de las personas, la hipertensión arterial es asintomática, a pesar de la coincidencia de ciertos síntomas que son amplia pero erróneamente atribuidos a la hipertensión arterial: dolor de cabeza, hemorragias nasales, mareo, rubor facial y cansancio. Aunque las personas con hipertensión pueden presentar estos síntomas, ocurren con la misma frecuencia en individuos con una presión arterial normal.</p>
    <p>La hipertensión arterial grave o de larga duración no tratada puede producir síntomas porque puede causar daños en el cerebro, los ojos, el corazón y los riñones. Los síntomas son: dolor de cabeza, cansancio, náuseas, vómitos, ahogo e inquietud. A veces, una hipertensión arterial grave provoca la hinchazón del cerebro (edema), lo cual tiene como resultado náuseas, vómitos, empeoramiento del dolor de cabeza, sopor, confusión, convulsiones, somnolencia e incluso coma. Este trastorno se denomina encefalopatía hipertensiva.</p>
    <p>La hipertensión arterial grave aumenta la carga de trabajo del corazón y puede causar dolor torácico y/o ahogo. Una presión arterial muy alta puede provocar el desgarro de la gran arteria que transporta la sangre desde el corazón (la aorta), produciéndose dolor torácico o abdominal. Si una persona presenta estos síntomas sufre hipertensión grave y, por lo tanto, requiere tratamiento de urgencia.
    </p>
    <p>Si la hipertensión es debida a un feocromocitoma, los síntomas pueden incluir cefalea intensa, ansiedad, sensación de pulso rápido o irregular (palpitaciones), sudor excesivo, temblor y palidez.</p>
    <p>Estos síntomas son consecuencia de las concentraciones elevadas de las hormonas epinefrina y norepinefrina, segregadas por el feocromocitoma.</p>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/3.- Hipertensión.jpg" alt="">
    </div>
    <h2>Pruebas para Diagnosticar la hipertensión arterial: </h2>
    <h3>Historia clínica: </h3>
    <p><b>Donde se incluye los siguientes Datos: </b></p>
    <div>
        <ul class="lista_3 viñeta">
            <li>Factores de riesgo cardiovascular.</li>
            <li>Antecedentes familiares de enfermedad cardiovascular, en especial si ha habido muertes de causa cardíaca en familiares de primer grado menores de 50 años. Aunque se da también en personas sin antecedentes</li>
            <li>Alimentación y actividad física. Presencia de otras enfermedades que puedan empeorar el control de la presión arterial como la diabetes o la enfermedad renal.</li>
            <li>La toma de medicamentos que puedan causar hipertensión.</li>
            <li>Existencia de una enfermedad cardiovascular previa como un ictus, angina de pecho, infarto de miocardio, insuficiencia cardíaca congestiva, insuficiencia renal crónica, entre otros.</li>
        </ul>
    </div>
    <p><span class="frase">Medida de la presión arterial: </span>La prueba fundamental para el diagnóstico de la hipertensión arterial es su medición. Esta se debe realizar con la persona sentada, con el brazo apoyado sobre la mesa a la altura del corazón y sin cruzar las piernas. Tras unos minutos de reposo, se colocará un brazalete inflable alrededor del brazo del tamaño adecuado, que debera estar bien ajustado y se medirá la presión arterial con un tensiómetro. En cuanto a los tensiómetros electrónicos disponibles en el mercado, se deben buscar marcas certificadas.</p>
    <p><span class="frase">Otras pruebas: </span>En algunos casos son necesarios otras pruebas si tienes presión arterial alta, el médico puede recomendar pruebas para confirmar el diagnóstico y comprobar si existen afecciones subyacentes que puedan causar la hipertensión.</p>
    <p><b>Estas pruebas pueden ser: </b></p>
    <div>
        <ul class="lista_3 viñeta">
            <li><b>Análisis de laboratorio. </b>El médico puede recomendarte una prueba de orina (análisis de orina) y análisis de sangre, incluida una prueba de colesterol.</li>
            <li><b>Electrocardiograma (ECG).</b> Esta prueba rápida e indolora mide la actividad eléctrica del corazón.
            </li>
            <li><b>Ecocardiograma. </b>En función de los signos y síntomas y de los resultados de las pruebas, tu médico puede solicitar un ecocardiograma para verificar si hay más signos de enfermedad cardíaca. Un ecocardiograma utiliza ondas de sonido para producir imágenes del corazón.</li>
        </ul>
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/4.- Hipertensión.png" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/5.- Hipertensión.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/6.- Hipertensión.png" alt="">
    </div>
    <h2>Causas: </h2>
    <p><b>Existen dos tipos de presión arterial alta.</b></p>
    <p><span class="frase">Hipertensión primaria: </span>(esencial) En la mayoría de los adultos, no hay una causa identificable de presión arterial alta. Este tipo de presión arterial alta, denominada hipertensión primaria (esencial), suele desarrollarse gradualmente en el transcurso de muchos años.</p>
    <p><span class="frase">Hipertensión secundaria:  </span>Algunas personas tienen presión arterial alta causada por una enfermedad subyacente. Este tipo de presión arterial alta, llamada hipertensión arterial secundaria, tiende a aparecer repentinamente y causa una presión arterial más alta que la hipertensión primaria. </p>
    <p><b>Diversos trastornos y medicamentos pueden producir hipertensión arterial secundaria, entre ellos:</b></p>
    <div>
        <ul class="lista_3 viñeta">
            <li>Apnea obstructiva del sueño.</li>
            <li>Enfermedad renal.</li>
            <li>Tumores de la glándula suprarrenal.</li>
            <li>Problemas de tiroides.</li>
            <li>Ciertos defectos de nacimiento (congénitos) en los vasos sanguíneos.</li>
            <li>Ciertos medicamentos, como las píldoras anticonceptivas, los antigripales, los descongestionantes, los analgésicos de venta libre y algunos medicamentos con receta médica.</li>
            <li>Drogas ilícitas, como la cocaína y las anfetaminas.</li>
        </ul>
    </div>
    <div class="centrar_imagen_vertical">
        <img src="../../assets/images/hipertencion arterial/7.- Hipertensión.jpg" alt="">
    </div>
    <h2>Factores de riesgo:</h2>
    <p><b>La presión arterial alta tiene muchos factores de riesgo, tales como:</b></p>
    <p><span class="frase">Edad: </span>El riesgo de tener presión arterial alta aumenta a medida que envejeces. Hasta aproximadamente los 64 años, la presión arterial alta es más frecuente en los hombres. Las mujeres tienen más probabilidades de desarrollar presión arterial alta después de los 65 años.</p>
    <p><span class="frase">Antecedentes familiares: </span>La presión arterial alta suele ser hereditaria.</p>
    <p><span class="frase">Sobrepeso u obesidad: </span>Cuanto más pesas, más sangre necesitas para suministrarles oxígeno y nutrientes a los tejidos. A medida que la cantidad de sangre que fluye a través de los vasos sanguíneos aumenta, también lo hace la presión en las paredes de las arterias.</p>
    <p><span class="frase">Falta de actividad física: </span>Las personas que no están físicamente activas tienden a tener una mayor frecuencia cardíaca. Cuanto mayor es la frecuencia cardíaca, más deberá trabajar el corazón con cada contracción, y mayor será la fuerza sobre las arterias. La falta de actividad física también aumenta el riesgo de tener sobrepeso.</p>
    <p>Consumo de tabaco: Fumar o mascar tabaco no solo aumenta de inmediato la presión arterial en forma temporal, sino que las sustancias químicas que contiene el tabaco pueden dañar el recubrimiento de las paredes de las arterias. Esto puede provocar el estrechamiento de las arterias y aumentar el riesgo de sufrir enfermedades cardíacas. El tabaquismo pasivo también puede aumentar el riesgo de padecer estas enfermedades.
    </p>
    <p><span class="frase">Alto contenido de sal (sodio) en tu dieta: </span>Demasiado sodio en tu dieta puede hacer que tu cuerpo retenga líquido, lo que aumenta la presión arterial.</p>
    <p><span class="frase">Cantidad insuficiente de potasio en tu dieta: </span>El potasio ayuda a equilibrar la cantidad de sodio en las células. Un equilibrio adecuado de potasio es fundamental para mantener una buena salud del corazón. Si no obtienes suficiente potasio con tu dieta o pierdes demasiado potasio debido a la deshidratación u otras afecciones, el sodio puede acumularse en la sangre.</p>
    <p><span class="frase">Consumo excesivo de alcohol: </span>Con el tiempo, beber en exceso puede dañar el corazón. Beber más de una copa al día para las mujeres y más de dos al día para los hombres puede afectar la presión arterial.</p>
    <p><span class="frase">Estrés: </span>Los niveles altos de estrés pueden provocar un aumento temporal de la presión arterial. Los hábitos relacionados con el estrés, como comer en exceso, fumar o beber alcohol, pueden provocar un mayor aumento de la presión arterial.</p>
    <p><span>Ciertas enfermedades crónicas: </span>Ciertas enfermedades crónicas también pueden aumentar el riesgo de tener presión arterial alta, incluidas la enfermedad renal, la diabetes y la apnea del sueño.
    </p>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/8.- Hipertensión.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/9.- Hipertensión.jpeg" alt="">
    </div>
    <h2>Complicaciones: </h2>
    <p>El exceso de presión en las paredes de las arterias que provoca la presión arterial alta puede dañar los vasos sanguíneos y los órganos. Mientras más alta sea la presión arterial y más tiempo pase sin controlarse, mayor será el daño.</p>
    <p><b>La presión arterial alta no controlada puede ocasionar complicaciones como las siguientes:</b></p>
    <p><span class="frase">Ataque cardíaco o accidente cerebrovascular: </span>La presión arterial alta puede endurecer y engrosar las arterias (ateroesclerosis), lo cual puede ocasionar un ataque cardíaco, un accidente cerebrovascular u otras complicaciones.
    </p>
    <p><span class="frase">Aneurisma: </span>El aumento de la presión arterial puede causar el debilitamiento de los vasos sanguíneos y la aparición de protuberancias en ellos, lo que provoca la formación de un aneurisma. Si se rompe un aneurisma, puede ser mortal.</p>
    <p><span class="frase">Insuficiencia cardíaca: </span>Para bombear sangre con mayor presión en los vasos sanguíneos, el corazón debe realizar mayores esfuerzos. Esto hace que las paredes de la cámara de bombeo del corazón se engrosen (hipertrofia ventricular izquierda). Con el tiempo, el músculo engrosado tiene más dificultades para bombear la cantidad suficiente de sangre para cubrir las necesidades del cuerpo, lo que puede ocasionar insuficiencia cardíaca.</p>
    <p><span class="frase">Vasos sanguíneos debilitados y estrechos en los riñones: </span>Esto puede provocar el funcionamiento anormal de estos órganos.</p>
    <p><span>Vasos sanguíneos engrosados, estrechos o rotos en los ojos:</span> Esto puede ocasionar la pérdida de la vista.</p>
    <p><span class="frase">Síndrome metabólico: </span>Este síndrome es un grupo de trastornos del metabolismo del cuerpo que incluye un aumento del tamaño de la cintura, niveles altos de triglicéridos, niveles bajos de colesterol de lipoproteína de alta densidad (HDL) (el colesterol "bueno"), presión arterial alta y niveles altos de insulina. Estos trastornos pueden incrementar las posibilidades de que tengas diabetes, una enfermedad cardíaca y un accidente cerebrovascular.
    </p>
    <p><span class="frase">Problemas de memoria o comprensión: </span>La presión arterial alta no controlada también puede afectar tu capacidad para pensar, recordar y aprender. Los problemas con la memoria o con la comprensión de conceptos son más comunes en personas con presión arterial alta.</p>
    <p><span class="frase">Demencia: </span>El estrechamiento o bloqueo de las arterias puede limitar el flujo sanguíneo al cerebro y generar un cierto tipo de demencia (demencia vascular). Un accidente cerebrovascular que interrumpe el flujo sanguíneo hacia el cerebro también puede causar demencia vascular.
    </p>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/10.- Hipertensión.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/11.- Hipertensión.png" alt="">
    </div>
    <h2>Prevención:</h2>
    <div>
        <ul class="lista_3 viñeta">
            <li>Reducir la ingesta de sal (a menos de 5 g diarios).</li>
            <li>Consumir más frutas y verduras.</li>
            <li>Realizar actividad física con regularidad.</li>
            <li>No consumir tabaco.</li>
            <li>Reducir el consumo de alcohol.</li>
            <li>Limitar la ingesta de alimentos ricos en grasas saturadas.</li>
            <li>Eliminar/reducir las grasas trans de la dieta. </li>
        </ul>
    </div>
    <h2>Control: </h2>
    <div>
        <ul class="lista_3 viñeta">
            <li>Reducir y gestionar el estrés.</li>
            <li>Medir periódicamente la tensión arterial.</li>
            <li>Tratar la hipertensión.</li>
            <li>Tratar otros trastornos que pueda presentar la persona.</li>
        </ul>
    </div>
    <h2>Tratamiento:</h2>
    <p>El tipo de medicamento que tu médico te recete para la presión arterial alta depende de tus rangos de presión arterial y de tu salud general. Dos o más medicamentos para la presión arterial suelen funcionar mejor que uno solo. A veces, hallar el medicamento o la combinación más eficaz es una cuestión de prueba y error.</p>
    <p><b>El objetivo del tratamiento de la presión arterial debería ser menos de 130/80 mm Hg en los siguientes casos:</b></p>
    <div>
        <ul class="lista_3 viñeta">
            <li>Eres un adulto sano de 65 años o más.</li>
            <li>Eres un adulto sano menor de 65 años con un riesgo del 10 por ciento o más de padecer una enfermedad cardiovascular en los próximos 10 años.</li>
            <li>Padeces una enfermedad renal crónica, diabetes o una enfermedad de las arterias coronarias.</li>
        </ul>
    </div>
    <p>Pregúntale al médico cuál debe ser tu objetivo de tratamiento de la presión arterial. Además, el objetivo ideal del tratamiento de la presión arterial puede variar en función de la edad y de las afecciones de salud, sobre todo si eres mayor de 65 años.</p>
    <p><b>Los medicamentos que se utilizan para tratar la presión arterial alta incluyen los siguientes:</b></p>
    <p><span class="frase">Diuréticos: </span>Los diuréticos son medicamentos que ayudan a los riñones a eliminar el sodio y el agua del cuerpo. Estos medicamentos suelen ser los primeros que se prueban para tratar la presión arterial alta.</p>
    <p>Existen diferentes tipos de diuréticos, como tiazídicos, de asa y ahorradores de potasio. El que te recomiende el médico depende de las mediciones de tu presión arterial y de otras afecciones de la salud, como una enfermedad renal o una insuficiencia cardíaca. Los diuréticos utilizados comúnmente para tratar la presión arterial incluyen la clortalidona, la hidroclorotiazida (Microzide), entre otros.</p>
    <p>Un efecto secundario común de los diuréticos es el aumento de la orina, que podría reducir los niveles de potasio. Si tienes un nivel bajo de potasio, tu médico puede incorporar a tu tratamiento un diurético ahorrador de potasio, como el triamtereno (Dyazide y Maxide) o la espironolactona (Aldactone).
    </p>
    <p><span class="frase">Inhibidores de la enzima convertidora de la angiotensina (ECA): </span>Estos medicamentos, como el lisinopril (Prinivil y Zestril), el benazepril (Lotensin), el captopril y otros, ayudan a relajar los vasos sanguíneos al bloquear la formación de una sustancia química natural que los estrecha.
    </p>
    <p><span class="frase">Antagonistas de receptores de la angiotensina II: </span>Estos medicamentos relajan los vasos sanguíneos al bloquear la acción, y no la formación, de una sustancia química natural que los estrecha. Los antagonistas de receptores de la angiotensina II incluyen el candesartán (Atacand), el losartán (Cozaar) y otros.
    </p>
    <p>Bloqueadores de los canales de calcio: Estos medicamentos, incluidos la amlodipina (Norvasc), el diltiazem (Cardizem, Tiazac y otros), entre otros, ayudan a relajar los músculos de los vasos sanguíneos. Algunos disminuyen la frecuencia cardíaca. Los bloqueadores de los canales de calcio quizás funcionen mejor que los inhibidores de la enzima convertidora de angiotensina por sí solos para las personas con ascendencia africana y las de mayor edad.</p>
    <p>No comas ni bebas productos de pomelo cuando tomes bloqueadores de los canales de calcio. El pomelo aumenta los niveles en sangre de ciertos bloqueadores de los canales de calcio, lo que puede ser peligroso. Habla con el médico o con el farmacéutico si tienes inquietudes acerca de las interacciones.</p>
    <h4>Otros medicamentos que se suelen administrar para tratar la presión arterial alta:</h4>
    <p><b>Si tienes problemas para alcanzar tu objetivo de presión arterial con las combinaciones de los medicamentos mencionadas anteriormente, es posible que el médico indique lo siguiente:
    </b></p>
    <p><span class="frase">Alfabloqueadores: </span>Estos medicamentos reducen las señales nerviosas hacia los vasos sanguíneos, lo que disminuye los efectos de las sustancias químicas naturales que estrechan los vasos sanguíneos. Los alfabloqueadores incluyen la doxazosina (Cardura), la prazosina (Minipress) y otros.</p>
    <p>Alfabetabloqueadores: s alfabetabloqueadores bloquean las señales nerviosas y disminuyen los latidos del corazón para reducir la cantidad de sangre que se bombea a través de los vasos sanguíneos. Los alfabetabloqueadores incluyen el carvedilol (Coreg) y el labetalol (Trandate).</p>
    <p><span class="frase">Betabloqueadores: </span>Estos medicamentos reducen la carga sobre el corazón y ensanchan los vasos sanguíneos para que el corazón lata con menor frecuencia y sin hacer tanto esfuerzo. Los betabloqueadores incluyen el acebutolol, el atenolol (Tenormin) y otros.</p>
    <p>Por lo general, no se recomiendan los betabloqueadores como medicamento único, pero pueden ser eficaces en combinación con otros medicamentos para la presión arterial.</p>
    <p>Antagonistas de la aldosterona: Estos medicamentos también se consideran diuréticos. Algunos ejemplos son la espironolactona y la eplerenona (Inspra). Estos medicamentos bloquean el efecto de un químico natural que puede ocasionar la acumulación de sal y líquidos, lo cual contribuye a la aparición de presión arterial alta. Se pueden utilizar para tratar la hipertensión resistente.</p>
    <p><span class="frase">Inhibidores de la renina: </span>El medicamento aliskiren (Tekturna) disminuye la producción de la renina, una enzima producida por los riñones y que comienza una cadena de etapas químicas que aumentan la presión arterial.</p>
    <p>Debido a que existe un riesgo de que se presenten complicaciones graves, que incluyen el accidente cerebrovascular, no se debe tomar aliskiren con inhibidores de la enzima convertidora de angiotensina o antagonistas de receptores de angiotensina II.</p>
    <p><span class="frase">Vasodilatadores: </span>Estos medicamentos incluyen la hidralazina y el minoxidil. Actúan directamente sobre los músculos de las paredes arteriales, y evitan que se tensen tales músculos y se estrechen las arterias.
    </p>
    <p><span class="frase">Agentes de acción central: </span>Estos medicamentos evitan que el cerebro emita señales al sistema nervioso para aumentar la frecuencia cardíaca y estrechar los vasos sanguíneos. Algunos ejemplos son la clonidina (Catapres y Kapvay), la guanfacina (Intuniv) y la metildopa.</p>
    <h4>Tratamiento de la hipertensión resistente: </h4>
    <p>Si tu presión arterial sigue siendo excesivamente alta a pesar de haber tomado al menos tres tipos diferentes de medicamentos para la presión arterial alta, de los cuales uno generalmente debe ser un diurético, es posible que tengas hipertensión resistente.</p>
    <p>Tienes hipertensión resistente si tienes presión arterial alta controlada, pero tomas cuatro tipos diferentes de medicamentos al mismo tiempo para lograr ese control. Si este es el caso, el médico debe investigar la posibilidad de una causa secundaria de la presión arterial alta.</p>
    <p>Tener hipertensión resistente no significa que la presión arterial nunca bajará. Si tú y tu médico pueden determinar la causa, se puede elaborar un plan de tratamiento más eficaz para ayudarte a alcanzar tu objetivo de presión arterial.</p>
    <p><b>El tratamiento de la hipertensión resistente puede incluir muchas medidas, como las siguientes:</b></p>
    <div>
        <ul class="lista_3 viñeta">
            <li>Cambiar los medicamentos para la presión arterial alta para determinar las combinaciones y dosis más adecuadas.</li>
            <li>Revisar todos los medicamentos que tomas, incluyendo aquellos que tomas para otras afecciones o compras sin receta médica.</li>
            <li>Controlar la presión arterial en casa para determinar si acudir al médico aumenta la presión arterial (hipertensión de bata blanca).</li>
            <li>Hacer cambios saludables en el estilo de vida, como llevar una alimentación sana que incluya menos sal, mantener un peso saludable y limitar el consumo de alcohol.</li>
        </ul>
    </div>
    <p>Siempre debes tomar los medicamentos para la presión arterial según la indicación médica. Nunca omitas una dosis ni interrumpas de manera abrupta la toma de los medicamentos para la presión arterial. La interrupción repentina de ciertos medicamentos para la presión arterial, como los betabloqueadores, puede causar un aumento marcado en la presión arterial (hipertensión por rebote).</p>
    <p>Si te salteas dosis porque no puedes pagar los medicamentos, porque tienes efectos secundarios o simplemente porque te olvidas de tomar tus medicamentos, habla con tu médico acerca de las soluciones. No modifiques tu tratamiento sin la indicación del médico.</p>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/12.- Hipertensión.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/13- Hipertensión.jpg" alt="">
    </div>
    <div class="centrar_imagen">
        <img src="../../assets/images/hipertencion arterial/14.- Hipertensión.png" alt="">
    </div>
</div>
